@charset "UTF-8";
/* Scrollbar - Start */
* {
  scrollbar-color: hsl(var(--muted-hs), calc(var(--muted-l) + 40%)) transparent;
  scrollbar-width: thin;
  cursor: default;
  /* word-break: break-word; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 0.25rem;
  height: 0.25rem;
  z-index: 1;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-hs), calc(var(--muted-l) + 40%));
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0.5rem;
}

::-moz-selection {
  color: var(--white);
  background: hsl(var(--muted-hs), calc(var(--muted-l) + 20%));
}

::selection {
  color: var(--white);
  background: hsl(var(--muted-hs), calc(var(--muted-l) + 20%));
}

/* Scrollbar - End */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: "AppTitle", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  /* color: var(--primary); */
}

.app-icon {
  object-fit: contain;
  width: 4rem;
  height: 4rem;
}

.app-logo {
  width: 10rem;
  object-fit: contain;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0.5rem 0;
}
.flex-container > * {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  align-self: start;
}
.flex-container .btn {
  margin-bottom: 0;
}

.page-header {
  margin: 1rem 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.page-header .page-title {
  text-transform: capitalize;
  margin-right: auto;
  margin-bottom: 1rem;
  color: var(--primary);
  font-size: 200%;
  font-weight: normal;
}
.page-header .btn {
  min-width: auto;
}

.section-header {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}
.section-header.has-arrow::before {
  content: attr(data-arrow-text);
  display: inline-block;
  margin-left: auto;
  font-size: 75%;
  order: 1;
}
.section-header.has-arrow::after {
  content: "";
  font-family: "FontAwesome";
  margin-left: 1rem;
  order: 2;
  font-size: 90%;
  font-weight: normal;
}
.section-header .section-title {
  margin-right: auto;
  margin-bottom: 1rem;
  font-weight: normal;
  color: var(--primary);
}
.section-header .btn {
  min-width: auto;
}

.row > [class*=col] {
  margin-bottom: 1em;
}
.row > [class*=col] + [class*=col] {
  margin-top: 0;
}
.row > [class*=col] .card {
  height: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container:not(.h) {
  flex-direction: column;
}
.icon-container .icon {
  font-size: 120%;
  margin: 0.5rem !important;
}

[class*=sq-] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
[class*=sq-]:not(.h) {
  flex-direction: column;
}
[class*=sq-] img {
  object-fit: contain;
  width: 100%;
}

hr[class*=s-] {
  background-color: transparent !important;
  margin: 0;
  border: 0;
}

.s-sm {
  padding: 0.25rem;
}

.s-1 {
  padding: 0.5rem;
}

.s-2 {
  padding: 0.75rem;
}

.s-3 {
  padding: 1.5rem;
}

.s-4 {
  padding: 2.5rem;
}

.s-5 {
  padding: 5rem;
}

.dropdown-menu-right .dropdown-menu {
  transform: translate(-100%, 0);
}

.dropdown-menu {
  min-width: 12.5rem;
  padding: 0;
  border-radius: 0.5rem;
  box-shadow: var(--card-shadow);
}
.dropdown-menu > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.dropdown-menu > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.dropdown-menu .dropdown-header {
  font-size: unset;
}
.dropdown-menu .dropdown-item {
  padding: 0.75rem 1.25rem;
  margin: 0;
}

.input,
*:not(.input) > input {
  background-color: transparent;
  /* margin: 0.25rem 0 1rem; */
  border-radius: 0.25rem;
  border: 1px solid currentColor;
  /* width: 100%; */
}
.input:not(.has-addon),
*:not(.input) > input:not(.has-addon) {
  align-self: stretch;
  padding: 0.5rem 1.5rem;
}
.input.has-error,
*:not(.input) > input.has-error {
  border: 1px solid var(--danger);
}

input,
textarea {
  opacity: 0.75;
}
input:focus,
textarea:focus {
  opacity: 1;
}
input::placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input:-moz-input-placeholder, input::-moz-input-placeholder, input:-webkit-input-placeholder, input::-webkit-input-placeholder,
textarea::placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder,
textarea:-moz-input-placeholder,
textarea::-moz-input-placeholder,
textarea:-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  display: none;
  color: var(--primary);
  opacity: 0.75;
}

ul {
  list-style: none;
  padding-left: 0;
}

label {
  cursor: pointer;
}
label.radio, label.checkbox {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
label.radio + .radio,
label.radio + .checkbox, label.checkbox + .radio,
label.checkbox + .checkbox {
  margin-top: 1rem;
}
label .active,
label input:checked + .label {
  color: var(--secondary);
  font-weight: bold;
}
label input[type=radio],
label input[type=checkbox] {
  margin: 0 0.5rem;
}

.bg-primary input[type=checkbox]::before {
  background-color: hsl(var(--muted-hs), calc(var(--muted-l) + 10));
}

input {
  /* &.phone,
  &[type=phone],
  &[type=password] {
    letter-spacing: 2px;
  } */
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 2rem;
  min-width: 2rem;
  height: 1rem;
  padding: 0 !important;
  margin: 0;
  border-radius: 0.5rem;
  background-color: hsla(var(--white-hs), var(--white-l), 0.5);
  color: unset;
  opacity: 1;
}
input[type=checkbox]::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.275;
  background-color: currentColor;
  border-radius: inherit;
  transition: width 0.25s ease, opacity 0.25s;
}
input[type=checkbox]::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1rem;
  height: 1rem;
  padding: 0.25rem;
  background-color: currentColor;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: left 0.25s ease, transform 0.25s ease;
}
input[type=checkbox]:checked::before {
  opacity: 0.575;
}
input[type=checkbox]:checked::after {
  left: 100%;
  transform: translate(-100%, -50%);
}
input[type=checkbox].default {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}
input[type=checkbox].default::after, input[type=checkbox].default::before {
  content: unset;
}
input[type=radio] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  color: inherit;
  background-color: transparent;
  border: 0.125rem solid currentColor;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  padding: 0.125rem !important;
  margin: 0;
}
input[type=radio]::after {
  content: "";
  display: block;
  background-color: currentColor;
  opacity: 0;
  width: 100%;
  /* flex: 1; */
  height: 100%;
  border-radius: inherit;
  transition: opacity 0.25s ease-in;
}
input[type=radio]:hover::after {
  opacity: 0.25;
}
input[type=radio]:checked::after {
  opacity: 1;
}
input[type=search] {
  min-width: 22.5%;
}
input[type=file] {
  display: none;
}

.input {
  display: flex;
  align-items: center;
}
.input.has-addon input,
.input.has-addon .addon {
  padding: 0.5rem 1.5rem;
  margin: 0;
}
.input .addon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit !important;
  /* font-weight: bold; */
  align-self: stretch;
  min-width: unset;
}
.input .addon:not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input .addon:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input.file {
  border-style: dashed;
  text-align: center;
}
.input.file::before {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
}
.input.p-0 {
  padding: 0;
}
.input.p-0 select {
  padding: 0.75rem 1.25rem;
}
.input input,
.input .input,
.input select {
  border: none;
  width: 100%;
  background-color: transparent;
}

option[disabled]:first-of-type {
  display: none;
}

.h-group {
  flex-wrap: wrap;
}
.h-group label {
  width: 100%;
}

.checkbox-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  flex-wrap: wrap;
  padding: 1rem;
}
.checkbox-group label {
  display: flex;
  align-items: center;
}
.checkbox-group label + label, .checkbox-group > input[type=checkbox] + input[type=checkbox] {
  margin-top: 1rem;
}

.radio-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.radio-group.h-group::before {
  left: unset;
  right: 1rem;
}
.radio-group::before {
  content: attr(data-label);
  display: block;
  position: absolute;
  padding: 0.5rem;
  left: 1rem;
  top: 0;
  transform: translateY(-50%);
  background-color: inherit;
}
.radio-group label {
  display: flex;
  align-items: center;
}

.input-container {
  display: block;
  position: relative;
  width: 100%;
  /* margin-bottom: 1rem; */
  text-align: left;
}
.input-container input + input, .input-container + .input-container {
  margin-top: 0.5rem;
}
.input-container::before,
.input-container .label {
  content: attr(data-label);
  display: block;
  font-weight: bold;
  font-size: 80%;
  /* text-transform: capitalize; */
  margin-bottom: 0.25rem;
  padding-left: 1rem;
  opacity: 0.75;
}
.input-container::after,
.input-container .hint {
  content: attr(data-hint);
  display: none;
  width: 100%;
  padding: 0.25rem;
  font-size: 80%;
}
.input-container.has-error::after,
.input-container.has-error .hint, .input-container.has-warning::after,
.input-container.has-warning .hint, .input-container.show-hint::after,
.input-container.show-hint .hint {
  display: block;
}
.input-container.has-error::after,
.input-container.has-error .hint {
  font-weight: bold;
  color: var(--danger);
}
.input-container.has-error .addon {
  background-color: var(--danger) !important;
  color: var(--white) !important;
}
.input-container.has-error > input,
.input-container.has-error > .input {
  border: 1px solid var(--danger);
}
.input-container.has-warning::after,
.input-container.has-warning .hint {
  /* font-weight: bold; */
  color: var(--warning);
}
.input-container.has-warning input,
.input-container.has-warning .input {
  border: 1px solid var(--warning);
}
.input-container.has-info::after,
.input-container.has-info .hint {
  color: var(--info);
}
.input-container input,
.input-container .input {
  width: 100%;
  /* margin-bottom: 0; */
}

.tabs {
  margin-bottom: 1rem;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 0.125rem 1.25rem;
  /* z-index: 1; */
}
.tabs > .tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0.25rem;
  color: currentColor;
  border-radius: 5px;
  font-weight: bold;
  min-width: 5rem;
  flex: 0 0 auto;
}
.tabs > .tab + .tab {
  margin-left: 0.5rem;
}
.tabs > .tab .img-content {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tabs > .tab .icon {
  width: 50%;
  flex: 1 1 50%;
  margin: -0.5rem;
  margin-right: unset;
  align-self: stretch;
  object-fit: contain;
}

.border-dashed {
  border-style: dashed !important;
}
.border-current {
  border-color: currentColor !important;
}

.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 80%;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.badge.small {
  font-size: 60%;
}
.badge.badge-sm {
  padding: 0.5rem 1rem;
}
.badge.badge-xs {
  padding: 0.25rem;
}

.btn-group,
.btn-group-vertical {
  border-radius: 0.5rem;
}

.btn {
  position: relative;
  padding: 0.25rem 1.5rem;
  font-size: 120%;
  /* font-weight: bold; */
  min-width: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:focus {
  outline: 1px solid hsl(var(--secondary-hs), calc(var(--secondary-l) + 50%));
}
.btn:not(.no-rounded) {
  border-radius: 0.5rem;
}
.btn.btn-block {
  width: 100%;
}
.btn.btn-circle {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  min-width: unset !important;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.btn.btn-circle.btn-sm {
  width: 2rem;
  height: 2rem;
}
.btn.btn-lg {
  font-size: 150%;
  padding: 0.5rem 1.25rem;
  min-width: 10rem;
}
.btn.btn-sm {
  font-size: 80%;
}
.btn.btn-xs {
  font-size: 75%;
  padding: 0.125rem 0.5rem;
  min-width: 5rem;
}
.btn.btn-block + .btn {
  margin-top: 0.5rem;
}
.btn .icon {
  font-size: 80%;
}

.btn-group {
  /*  margin: 1rem 0; */
  align-items: stretch;
}
.btn-group.no-rounded .btn {
  border-radius: 0;
}
.btn-group .btn {
  border-radius: inherit;
  align-self: stretch;
  margin: 0;
  flex: 1 1 100%;
}

.btn-group-vertical .btn {
  border-radius: inherit;
}

.tabular {
  color: var(--black);
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--white);
  /* font-size: 90%; */
}
.tabular,
.tabular table {
  width: 100%;
}
.tabular.is-table-sticky {
  display: flex;
}
.tabular.is-sticky {
  overflow-x: scroll;
  padding: 0 0 1rem;
}
.tabular.is-sticky .sticky {
  position: sticky;
  position: -webkit-sticky;
  /* &::after {
    content: '';
    display: block;
    box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.5);
    width: 5%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-right: thin solid var(--border-color)
  } */
}
.tabular.is-sticky .row {
  flex-wrap: nowrap;
}
.tabular.is-sticky thead th {
  min-width: 15vw;
}
.tabular thead,
.tabular .tabular-header {
  color: var(--secondary, hsl(var(--secondary-hs), calc(var(--secondary-l) + 10%)));
  font-weight: bold;
}
.tabular thead.sticky-header th,
.tabular .tabular-header.sticky-header th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.tabular thead.sticky-header th.sticky,
.tabular .tabular-header.sticky-header th.sticky {
  z-index: 3;
}
.tabular tr,
.tabular > .row,
.tabular .scrollable > .row {
  position: relative;
  border-radius: 0.5rem;
  margin: 0 0 0.25rem;
  background-color: var(--white);
}
.tabular tr:nth-child(even):not(.tabular-header),
.tabular > .row:nth-child(even):not(.tabular-header),
.tabular .scrollable > .row:nth-child(even):not(.tabular-header) {
  background-color: hsl(var(--muted-hs), calc(var(--muted-l) + 40%));
}
.tabular tr [class*=col],
.tabular > .row [class*=col],
.tabular .scrollable > .row [class*=col] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.tabular tr td,
.tabular tr th,
.tabular tr [class*=col],
.tabular > .row td,
.tabular > .row th,
.tabular > .row [class*=col],
.tabular .scrollable > .row td,
.tabular .scrollable > .row th,
.tabular .scrollable > .row [class*=col] {
  margin-bottom: 0;
  padding: 1rem;
  background-color: inherit;
}
.tabular tr td.sticky,
.tabular tr th.sticky,
.tabular tr [class*=col].sticky,
.tabular > .row td.sticky,
.tabular > .row th.sticky,
.tabular > .row [class*=col].sticky,
.tabular .scrollable > .row td.sticky,
.tabular .scrollable > .row th.sticky,
.tabular .scrollable > .row [class*=col].sticky {
  left: 0;
  right: 0;
  z-index: 1;
  /* &::after {
    content: '';
    display: block;
    box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.5);
    width: 5%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-right: thin solid var(--border-color);
  } */
}
.tabular tr td.text-truncate,
.tabular tr th.text-truncate,
.tabular tr [class*=col].text-truncate,
.tabular > .row td.text-truncate,
.tabular > .row th.text-truncate,
.tabular > .row [class*=col].text-truncate,
.tabular .scrollable > .row td.text-truncate,
.tabular .scrollable > .row th.text-truncate,
.tabular .scrollable > .row [class*=col].text-truncate {
  max-width: 15vw;
}
.tabular tr td p,
.tabular tr th p,
.tabular tr [class*=col] p,
.tabular > .row td p,
.tabular > .row th p,
.tabular > .row [class*=col] p,
.tabular .scrollable > .row td p,
.tabular .scrollable > .row th p,
.tabular .scrollable > .row [class*=col] p {
  margin-bottom: 0;
}
.tabular tr .tabular-badge,
.tabular > .row .tabular-badge,
.tabular .scrollable > .row .tabular-badge {
  position: absolute;
  top: 0;
  right: 1rem;
  transform: translateY(-50%);
}

/* Modal Backdrop - Start */
.modal-backdrop .show {
  opacity: 0.25;
}

/* Modal Close Button - End */
/* Scrollable Container - Start */
.scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.scrollable {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.h-scrollable {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Scrollable Container - End */
/* Carousel - Start */
/* .carousel.fullwidth .carousel-item {
  width: 100%;
}

.owl-carousel.fullwidth .owl-stage {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.carousel .carousel-item {
  margin-right: 1rem;
  width: 90%;
} */
.owl-carousel.partical {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.owl-carousel.partical .owl-stage-outer {
  min-width: 100vw;
}

.owl-carousel .owl-stage {
  /* padding-left: 0 !important; */
  display: flex;
}
.owl-carousel .owl-item {
  padding-left: 0.25rem;
}
.owl-carousel .owl-item .flex-card {
  border-radius: 0.75rem;
  height: 100%;
  border: none;
}
.owl-carousel .owl-item .flex-card .bg-image {
  object-fit: cover;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.owl-carousel .owl-item .flex-card .content {
  align-self: stretch;
}
.owl-carousel .owl-item .flex-card .content .title {
  margin-bottom: 0.5rem;
}
.owl-carousel .owl-dots {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  height: 0.125rem;
  width: 100%;
  /* width: 2.5rem; */
  margin-right: 0.25rem;
  background-color: currentColor;
  opacity: 0.125;
  transition: all 0.75s;
}
.owl-carousel .owl-dots .owl-dot.active {
  opacity: 1;
}
.owl-carousel .owl-dots .owl-dot + .owl-dot {
  margin-left: 0.5rem;
}

/* Carousel - End */
.flex-none {
  flex: unset;
}

.flex-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-item,
.flex-card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* overflow: hidden; */
}
.flex-item.flex-card,
.flex-card.flex-card {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-clip: border-box;
}
.flex-item.flex-card [class*=bg-],
.flex-card.flex-card [class*=bg-] {
  border: none;
}
.flex-item.flex-card.has-bg::before,
.flex-item.flex-card .bg-svg,
.flex-card.flex-card.has-bg::before,
.flex-card.flex-card .bg-svg {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: inherit;
  z-index: 0;
}
.flex-item.flex-card .bg-svg,
.flex-card.flex-card .bg-svg {
  -webkit-mask-image: url("/assets/bg/flex-card-bg-icons.svg");
  mask-image: url("/assets/bg/flex-card-bg-icons.svg");
}
.flex-item .img,
.flex-item .icon,
.flex-card .img,
.flex-card .icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  object-fit: cover;
  text-align: center;
  font-size: 200%;
  z-index: 1;
}
.flex-item .img,
.flex-card .img {
  flex: 1 1 40%;
  width: 40%;
}
.flex-item .icon,
.flex-card .icon {
  flex: 1 1 25%;
  width: 25%;
  padding-left: 0.75rem;
  /* font-weight: bold; */
}
.flex-item .addon,
.flex-card .addon {
  align-self: stretch;
  flex: 1 1 25%;
  width: 25%;
}
.flex-item .addon > *,
.flex-card .addon > * {
  flex: 1 1 auto;
}
.flex-item .content,
.flex-card .content {
  position: relative;
  margin: 0;
  padding: 0.75rem;
  flex: 1 1 100%;
  width: 100%;
  z-index: 1;
}
.flex-item .img img,
.flex-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-spaced {
  letter-spacing: 0.25rem;
}
.text-spaced.s-1 {
  letter-spacing: 0.5rem;
}

.card:not(.flat) {
  overflow: unset;
  border: none;
}
.card:not(.flat) > * {
  position: relative;
}
.card:not(.flat)::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: var(--card-shadow);
  border-radius: inherit;
  top: 0;
  left: 0;
  z-index: 0;
}
.card + .card {
  margin-top: 1rem;
}
.card .card-title {
  margin: 1rem 0 0.75rem;
}
.card .card-header,
.card .card-footer {
  background-color: transparent;
  border: none;
  padding: 1rem 2rem;
}
.card .card-body, .card.card-body {
  padding: 1.5rem;
  z-index: 1;
}
.card .card-body {
  padding: 0 1.5rem;
}
.card .card-body .card-img {
  margin: 0 -1.5rem;
  width: unset;
}
.card .card-img {
  max-height: 15rem;
  object-fit: cover;
  min-width: 100%;
}
.card .card-header,
.card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-list .item,
.card-list .item {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.item-list .item > .label,
.card-list .item > .label {
  color: var(--muted);
  width: 100%;
}
.item-list .item > .value,
.card-list .item > .value {
  font-weight: bold;
  width: 100%;
}
.item-list .item + .item,
.card-list .item + .item {
  border-top: 1px solid var(--border-color);
}

.modal-content .modal-header {
  justify-content: flex-start;
  border-bottom: 2px solid var(--primary);
}
.modal-content .modal-header:hover .close {
  opacity: 1;
}
.modal-content .modal-header .close {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 200%;
  padding: 0;
  min-width: unset;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0.125;
  transition: color 0.25s, opacity 0.25s;
}
.modal-content .modal-header .close:hover {
  color: var(--danger);
}
.modal-content .modal-header .close::after, .modal-content .modal-header .close::before {
  content: "";
  height: 0.125rem;
  width: 75%;
  display: block;
  background-color: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out;
}
.modal-content .modal-header .close:hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal-content .modal-header .close:hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal-content .modal-body {
  padding: 1rem 2rem;
}
.modal-content .modal-footer {
  border-top: none;
  padding: 1rem 2rem 2rem;
  justify-content: space-between;
}

.link-list {
  margin: 0;
  /* padding: 0.5rem; */
  list-style: none;
  font-size: 110%;
}
.link-list .item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 1px solid var(--border-color);
  color: var(--primary);
  background-color: transparent;
  cursor: pointer;
}
.link-list .item ~ .item {
  margin-top: 1rem;
}

.item-list {
  margin: 1.5rem 0;
  padding-left: 1rem;
  list-style: none;
}
.item-list .item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.item-list .item .icon {
  font-weight: bold;
  margin-right: 1.25rem;
  transition: margin-right 0.125s linear;
}
.item-list .item .content {
  margin-right: auto;
}
.item-list .item:hover .icon {
  margin-right: 1.5rem;
}

.list .item + .item {
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
}

.accordion-tab {
  display: flex;
  cursor: pointer;
  width: 100%;
}
.accordion-tab ~ .accordion-tab {
  margin-top: 1rem;
}
.accordion-tab .icon {
  align-self: flex-start;
}

.img-fullwidth {
  margin: 0 -1.25rem;
  width: 100vw;
  min-width: 100vw;
  height: 12.5rem;
  object-fit: cover;
}

.img-circle {
  width: 100%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  overflow: hidden;
}
.img-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.img-bg {
  z-index: -1;
}
.img-bg, .img-bg:not(img)::before {
  content: attr(data-src);
  display: block;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rounded-all {
  border-radius: 1rem;
}

.rounded-full {
  border-radius: 2.5rem;
}

.section,
section {
  position: relative;
  min-height: 100vh;
  padding: 1.25rem;
}

/* ABOVE <-- Tables/Mini PC */
@media (min-width: 768px) {
  .item-list .item > .value,
.card-list .item > .value {
    margin-left: 1rem;
    text-align: right;
  }

  .tabular .row .tabular-header {
    display: none;
  }
}
/* Tables/Mini PC ---> BELOW */
@media (max-width: 767.98px) {
  .page-header,
.section-header {
    padding: 0;
    flex-wrap: wrap;
  }
  .page-header input[type=search],
.section-header input[type=search] {
    width: 100%;
  }
  .page-header .tabs,
.section-header .tabs {
    justify-content: space-between;
  }

  .flex-container {
    /* flex-direction: column; */
    width: 100%;
  }
  .flex-container > * {
    margin-top: 0.5rem;
  }
  .flex-container .btn {
    width: 100%;
  }

  .tabs {
    padding: 1.25rem 0.125rem;
  }

  .tabular:not(.is-sticky) .row.tabular-header {
    display: none;
  }
  .tabular.is-sticky .row .tabular-header {
    display: none;
  }
  .tabular.is-sticky .row [class*=col] {
    margin: 0;
  }
  .tabular > .row .tabular-header,
.tabular .scrollable > .row .tabular-header {
    margin-right: 1rem;
  }
  .tabular > .row [class*=col],
.tabular .scrollable > .row [class*=col] {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0.5rem 0;
  }
}
/* Mobile --> BELOW */
@media (max-width: 575.98px) {
  /* .app-logo {
    width: 7.5rem;
  } */
  .item-list .item,
.card-list .item {
    flex-direction: column;
  }
}

/*# sourceMappingURL=app.css.map */
