/**
* @Author: Vixson
* @Description: Unique and Very Responsive Admin Dashboard UI
*/
@import 'fontawesome.css';
@import 'bootstrap.css';
@import 'animations.css';
@import 'colors.css';
@import 'sizes.css';
@import 'app.css';
@import 'pages.css';
@import 'sidebar.css';
/* primefaces.org */
body {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFFFFF;
  color: #5B5B5B;
  font-size: 0.85rem;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf");
  font-weight: bold;
}
