/**
* @Author vixson https://vixson.github.io
* @Description Menu styles which includes:
*              1. sidemenu
*              2. fullmenu (fullscreen floating)
*              2. floatmenu (miniscreen corner floating)
*/
.appmenu-trigger {
  /* @include absolute-content; */
  position: fixed !important;
  left: 0;
  top: 0;
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
  transition: background-color 0.5s ease-in;
  border-radius: 0 !important;
  z-index: -1;
}
.appmenu-trigger::after {
  display: none !important;
}
.appmenu-trigger:checked ~ .sidemenu.md,
.appmenu-trigger:checked ~ * .sidemenu.md {
  opacity: 1;
  width: 15%;
  flex-basis: 15%;
}
.appmenu-trigger:checked ~ .sidemenu.md .menu-header .menu-logo,
.appmenu-trigger:checked ~ .sidemenu.md .menu-header .appmenu-toggle,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-header .menu-logo,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-header .appmenu-toggle {
  display: none;
}
.appmenu-trigger:checked ~ .sidemenu.md .menu-header .title,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-header .title {
  opacity: 0;
  height: 0;
  margin-bottom: 0;
}
.appmenu-trigger:checked ~ .sidemenu.md .nav-menu .nav-item,
.appmenu-trigger:checked ~ * .sidemenu.md .nav-menu .nav-item {
  justify-content: center;
}
.appmenu-trigger:checked ~ .sidemenu.md .icon,
.appmenu-trigger:checked ~ * .sidemenu.md .icon {
  margin-right: 0;
}
.appmenu-trigger:checked ~ .sidemenu.md .menu-header .nav-item .label,
.appmenu-trigger:checked ~ .sidemenu.md .menu-header .nav-title .label,
.appmenu-trigger:checked ~ .sidemenu.md .menu-footer .nav-item .label,
.appmenu-trigger:checked ~ .sidemenu.md .menu-footer .nav-title .label,
.appmenu-trigger:checked ~ .sidemenu.md .nav-menu .nav-item .label,
.appmenu-trigger:checked ~ .sidemenu.md .nav-menu .nav-title .label,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-header .nav-item .label,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-header .nav-title .label,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-footer .nav-item .label,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-footer .nav-title .label,
.appmenu-trigger:checked ~ * .sidemenu.md .nav-menu .nav-item .label,
.appmenu-trigger:checked ~ * .sidemenu.md .nav-menu .nav-title .label {
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
}
.appmenu-trigger:checked ~ .sidemenu.md .menu-header .nav-title,
.appmenu-trigger:checked ~ .sidemenu.md .menu-footer .nav-title,
.appmenu-trigger:checked ~ .sidemenu.md .nav-menu .nav-title,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-header .nav-title,
.appmenu-trigger:checked ~ * .sidemenu.md .menu-footer .nav-title,
.appmenu-trigger:checked ~ * .sidemenu.md .nav-menu .nav-title {
  border-bottom: thin solid;
  padding: 0;
}
.appmenu-trigger:checked ~ .page > footer,
.appmenu-trigger:checked ~ * .page > footer {
  background-color: var(--primary);
  color: var(--primary-c);
}
.appmenu-trigger:not(:checked) ~ .menu-logo-alt,
.appmenu-trigger:not(:checked) ~ * .menu-logo-alt {
  display: none;
}

.appmenu-toggle {
  position: relative;
  /* font-size: 120%; */
  margin-bottom: 0;
  /* z-index: 1; */
}

.menu-header {
  display: flex;
}

.nav-menu {
  /* border-top: 1px solid; */
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 120%;
  gap: 0.5rem;
}
.nav-menu .nav-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: currentColor;
}

/* Sidemenu */
.sidemenu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.sidemenu-container.rtl .page {
  order: -1;
}

.sidemenu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: 100%;
  margin: 0;
  flex: 1 1 30%;
  /* border-right: thin solid var(--secondary); */
  transition: width 0.5s, flex-basis 0.5s, transform 0.5s, opacity 0.25s;
  overflow: hidden;
  z-index: 1;
  /* Sidemenu scrollbar */
}
.sidemenu ::-webkit-scrollbar {
  width: 0;
}
.sidemenu ::-webkit-scrollbar-thumb {
  background-color: currentColor;
}
.sidemenu .menu-header {
  padding: 1rem;
}
.sidemenu .menu-header .title {
  transition: height 0.5s linear 0.5s, opacity 0.5s linear 0.5s;
}
.sidemenu .nav-menu {
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidemenu .nav-menu .nav-item {
  position: relative;
}
.sidemenu .nav-menu .nav-item > * {
  /* position: relative; */
  z-index: 1;
}
.sidemenu .nav-menu .nav-item::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  z-index: 0;
}
.sidemenu .nav-menu .nav-item::before:not(img::before, img::after) {
  content: "";
}
.sidemenu .nav-menu .nav-item::before {
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.5s;
}
.sidemenu .nav-menu .nav-item.active {
  border-right: 2px solid;
}
.sidemenu .nav-menu .nav-item.active::before {
  opacity: 0.25;
}
.sidemenu .nav-menu .nav-item:hover::before {
  opacity: 0.125;
}
.sidemenu .nav-menu .nav-item .label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidemenu .icon {
  margin: 0.125rem 1em;
  margin-left: 0;
}
.sidemenu footer,
.sidemenu .menu-footer {
  margin-top: auto;
}

.fullmenu {
  display: flex;
  transition: transform 0.5s;
  align-items: center;
}
.fullmenu .menu-header {
  display: flex;
}
.fullmenu .nav-menu {
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.floatmenu {
  display: flex;
}
.floatmenu .nav-menu .nav-item {
  gap: 1rem;
}

/* Page */
.page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  flex: 1 1 100%;
  transition: width 0.5s;
  overflow: hidden;
  z-index: 1;
}
.page footer {
  background-color: var(--secondary);
  color: var(--white);
}

.page-content {
  position: relative;
  padding: 3em;
  width: 100%;
  flex: 1 1 100%;
  transition: margin 0.2s;
}

/* Above <---> Tablets/Mini PC */
@media (min-width: 768px) {
  .appmenu-trigger:checked ~ .sidemenu,
.appmenu-trigger:checked ~ * .sidemenu {
    width: 0;
    flex-basis: 0;
    opacity: 0;
    padding: 0;
  }
  .appmenu-trigger:not(:checked) ~ .sidemenu.minimized,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized {
    width: 15%;
    flex-basis: 15%;
  }
  .appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-header .menu-logo,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-header .appmenu-toggle,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-header .menu-logo,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-header .appmenu-toggle {
    display: none;
  }
  .appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-header .title,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-header .title {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
  }
  .appmenu-trigger:not(:checked) ~ .sidemenu.minimized .nav-menu .nav-item,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .nav-menu .nav-item {
    justify-content: center;
  }
  .appmenu-trigger:not(:checked) ~ .sidemenu.minimized .icon,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .icon {
    margin-right: 0;
  }
  .appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-header .nav-item .label,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-header .nav-title .label,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-footer .nav-item .label,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-footer .nav-title .label,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .nav-menu .nav-item .label,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .nav-menu .nav-title .label,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-header .nav-item .label,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-header .nav-title .label,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-footer .nav-item .label,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-footer .nav-title .label,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .nav-menu .nav-item .label,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .nav-menu .nav-title .label {
    opacity: 0;
    transform: translateX(100%);
    position: absolute;
  }
  .appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-header .nav-title,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .menu-footer .nav-title,
.appmenu-trigger:not(:checked) ~ .sidemenu.minimized .nav-menu .nav-title,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-header .nav-title,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .menu-footer .nav-title,
.appmenu-trigger:not(:checked) ~ * .sidemenu.minimized .nav-menu .nav-title {
    border-bottom: thin solid;
    padding: 0;
  }
  .appmenu-trigger:not(:checked) ~ .page .app-header .appmenu-toggle,
.appmenu-trigger:not(:checked) ~ * .page .app-header .appmenu-toggle {
    display: none;
  }
}
/* Above <---> Mobile */
@media (min-width: 576px) {
  .floatmenu,
.fullmenu {
    align-items: center;
  }
  .floatmenu .menu-header .appmenu-toggle,
.fullmenu .menu-header .appmenu-toggle {
    display: none;
  }

  .floatmenu {
    /* width: 75%; */
  }

  .appmenu-trigger, .appmenu-trigger::before, .appmenu-trigger::after {
    background-color: transparent !important;
  }
  .appmenu-trigger:not(:checked) ~ .page,
.appmenu-trigger:not(:checked) ~ * .page {
    /* TODO: Use this on Sibemenu Type 2 - Page overlaps Sidemenu */
    /* 
    border-left: thin solid;
    @include before-content;

    &::before {
      box-shadow: 0 0 2.5rem -1.75rem hsla(var(--black-hs), var(--black-l), 0.125);
    } */
    /* ---- */
  }
}
/* Mobile <---> Tablets/Mini PC */
@media (min-width: 576px) and (max-width: 767.98px) {
  .appmenu-trigger:not(:checked) ~ .sidemenu * > .label,
.appmenu-trigger:not(:checked) ~ * .sidemenu * > .label {
    transition: position 0.25s linear 0.125s, transform 0.25s linear 0.125s, opacity 0.5s linear 0.125s;
  }
  .appmenu-trigger:checked ~ .sidemenu,
.appmenu-trigger:checked ~ * .sidemenu {
    width: 15%;
    flex-basis: 15%;
  }
  .appmenu-trigger:checked ~ .sidemenu .menu-header .menu-logo,
.appmenu-trigger:checked ~ .sidemenu .menu-header .appmenu-toggle,
.appmenu-trigger:checked ~ * .sidemenu .menu-header .menu-logo,
.appmenu-trigger:checked ~ * .sidemenu .menu-header .appmenu-toggle {
    display: none;
  }
  .appmenu-trigger:checked ~ .sidemenu .menu-header .title,
.appmenu-trigger:checked ~ * .sidemenu .menu-header .title {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
  }
  .appmenu-trigger:checked ~ .sidemenu .nav-menu .nav-item,
.appmenu-trigger:checked ~ * .sidemenu .nav-menu .nav-item {
    justify-content: center;
  }
  .appmenu-trigger:checked ~ .sidemenu .icon,
.appmenu-trigger:checked ~ * .sidemenu .icon {
    margin-right: 0;
  }
  .appmenu-trigger:checked ~ .sidemenu .menu-header .nav-item .label,
.appmenu-trigger:checked ~ .sidemenu .menu-header .nav-title .label,
.appmenu-trigger:checked ~ .sidemenu .menu-footer .nav-item .label,
.appmenu-trigger:checked ~ .sidemenu .menu-footer .nav-title .label,
.appmenu-trigger:checked ~ .sidemenu .nav-menu .nav-item .label,
.appmenu-trigger:checked ~ .sidemenu .nav-menu .nav-title .label,
.appmenu-trigger:checked ~ * .sidemenu .menu-header .nav-item .label,
.appmenu-trigger:checked ~ * .sidemenu .menu-header .nav-title .label,
.appmenu-trigger:checked ~ * .sidemenu .menu-footer .nav-item .label,
.appmenu-trigger:checked ~ * .sidemenu .menu-footer .nav-title .label,
.appmenu-trigger:checked ~ * .sidemenu .nav-menu .nav-item .label,
.appmenu-trigger:checked ~ * .sidemenu .nav-menu .nav-title .label {
    opacity: 0;
    transform: translateX(100%);
    position: absolute;
  }
  .appmenu-trigger:checked ~ .sidemenu .menu-header .nav-title,
.appmenu-trigger:checked ~ .sidemenu .menu-footer .nav-title,
.appmenu-trigger:checked ~ .sidemenu .nav-menu .nav-title,
.appmenu-trigger:checked ~ * .sidemenu .menu-header .nav-title,
.appmenu-trigger:checked ~ * .sidemenu .menu-footer .nav-title,
.appmenu-trigger:checked ~ * .sidemenu .nav-menu .nav-title {
    border-bottom: thin solid;
    padding: 0;
  }
  .sidemenu .btn,
.sidemenu .nav-menu .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sidemenu .appmenu-toggle {
    display: none;
  }

  .floatmenu {
    /* width: 50%; */
  }
}
/* Tablets/Mini PC <---> BELOW */
@media (max-width: 767.98px) {
  .sidemenu .btn {
    min-width: auto;
  }
}
/* Mobile <--> BELOW */
@media (max-width: 575.98px) {
  .appmenu-trigger:not(:checked), .appmenu-trigger:not(:checked)::before, .appmenu-trigger:not(:checked)::after {
    background-color: transparent !important;
  }
  .appmenu-trigger:not(:checked) ~ .fullmenu .nav-menu,
.appmenu-trigger:not(:checked) ~ * .fullmenu .nav-menu {
    display: none;
    /* transform: translateY(-100%); */
    /* opacity: 0; */
  }
  .appmenu-trigger:not(:checked) ~ .floatmenu > *:not(.appmenu-toggle),
.appmenu-trigger:not(:checked) ~ * .floatmenu > *:not(.appmenu-toggle) {
    display: none;
  }
  .appmenu-trigger:checked {
    width: 100vw;
    background-color: hsla(var(--black-hs), var(--black-l), 0.2);
    z-index: 2;
  }
  .appmenu-trigger:checked ~ .sidemenu,
.appmenu-trigger:checked ~ * .sidemenu {
    transform: translateX(0);
    opacity: 1;
  }
  .appmenu-trigger:checked ~ .sidemenu .appmenu-toggle,
.appmenu-trigger:checked ~ * .sidemenu .appmenu-toggle {
    transform: translateX(0);
  }
  .appmenu-trigger:checked ~ .sidemenu .menu-logo-alt,
.appmenu-trigger:checked ~ * .sidemenu .menu-logo-alt {
    display: none;
  }
  .appmenu-trigger:checked ~ .fullmenu,
.appmenu-trigger:checked ~ * .fullmenu {
    --background-color: hsla(var(--secondary-hs), var(--secondary-l), 0.125);
    position: fixed;
    flex-direction: column;
    transform: translateY(0);
    opacity: 1;
    font-size: 125%;
    background-color: var(--background-color);
    color: var(--secondary-c);
    backdrop-filter: blur(10px);
    z-index: 2;
  }
  .appmenu-trigger:checked ~ .fullmenu .btn,
.appmenu-trigger:checked ~ * .fullmenu .btn {
    color: var(--secondary-c) !important;
  }
  .appmenu-trigger:checked ~ .fullmenu .btn:hover,
.appmenu-trigger:checked ~ * .fullmenu .btn:hover {
    background-color: var(--secondary-c) !important;
    color: var(--secondary) !important;
  }
  .appmenu-trigger:checked ~ .fullmenu .menu-header,
.appmenu-trigger:checked ~ * .fullmenu .menu-header {
    order: -1;
    padding: 1rem;
  }
  .appmenu-trigger:checked ~ .fullmenu .menu-header .menu-logo,
.appmenu-trigger:checked ~ * .fullmenu .menu-header .menu-logo {
    display: none;
  }
  .appmenu-trigger:checked ~ .fullmenu .menu-header .menu-logo-alt,
.appmenu-trigger:checked ~ * .fullmenu .menu-header .menu-logo-alt {
    fill: var(--white);
  }
  .appmenu-trigger:checked ~ .fullmenu .menu-header .silhouette,
.appmenu-trigger:checked ~ * .fullmenu .menu-header .silhouette {
    filter: saturate(0%) brightness(500%);
  }
  .appmenu-trigger:checked ~ .fullmenu .nav-menu,
.appmenu-trigger:checked ~ * .fullmenu .nav-menu {
    flex-direction: column;
  }
  .appmenu-trigger:checked ~ .floatmenu,
.appmenu-trigger:checked ~ * .floatmenu {
    width: 100%;
  }
  .appmenu-trigger:checked ~ .page .app-header .appmenu-toggle,
.appmenu-trigger:checked ~ * .page .app-header .appmenu-toggle {
    transform: translateX(-50%);
  }

  .sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    flex-basis: 80%;
    transform: translateX(-100%);
    opacity: 0;
    box-shadow: 0 0 50px hsla(var(--black-hs), var(--black-l), 0.25);
    z-index: 2;
  }

  .fullmenu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* transform: translateY(-100%); */
    /* opacity: 0; */
    z-index: 2;
  }
  .fullmenu .menu-header {
    width: 100%;
  }

  .floatmenu {
    position: fixed;
    bottom: 0;
    /* left: 0; */
    right: 0;
    display: flex;
    flex-direction: column;
  }
  .floatmenu .nav-menu {
    flex-direction: column;
  }
  .floatmenu .nav-menu,
.floatmenu .menu-header,
.floatmenu .menu-footer {
    padding: 1rem;
  }

  .page .page-content {
    padding: 3em 1em;
  }
}

/*# sourceMappingURL=menu.css.map */
