/* HSL Darken = level - n; Lighten = level + n */
/* Landing Page */
/* ABPVE <--- Tablets/Mini PC  */
@media (min-width: 767.98px) {
  #landing-page {
    padding: 3rem;
  }
}
/* Dashboard Overview Page */
#overview-summary [class*=col] .flex-card {
  height: 100%;
}
#overview-summary [class*=col] .flex-card .content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
#overview-summary [class*=col] .flex-card .content .title {
  display: flex;
  align-items: flex-start;
  font-weight: normal;
  font-size: 90%;
  color: hsl(var(--secondary-hs), calc(var(--secondary-l) + 20));
  margin-bottom: auto;
}

/* Wallet Page */
#wallet-details-card {
  background-color: var(--secondary);
  color: var(--white);
  padding: 0;
}
#wallet-details-card .card-body,
#wallet-details-card .card-bandage {
  padding: 2rem 3rem;
}
#wallet-details-card .card-bandage {
  /* border-radius: inherit; */
  transform: scale(1.025);
  background-color: var(--secondary);
}

/* Payment-Links Page */
/* #new-payment-link-modal {
  .modal-body {
    padding: 3rem 0 3rem 20%;
  }
} */
