/**
*  Author Vixson
*  Description Layout sizing and breakpoints
*  Created On October 27th, 2020 4:22pm
*/
.h-0 {
  height: 0% !important;
}

.w-0 {
  width: 0% !important;
}

.vh-0 {
  height: 0vh !important;
}

.vw-0 {
  width: 0vw !important;
}

.min-h-0 {
  min-height: 0% !important;
}

.min-w-0 {
  min-width: 0% !important;
}

.min-vh-0 {
  min-height: 0vh !important;
}

.min-vw-0 {
  min-width: 0vw !important;
}

.max-h-0 {
  max-height: 0% !important;
}

.max-w-0 {
  max-width: 0% !important;
}

.max-vh-0 {
  max-height: 0vh !important;
}

.max-vw-0 {
  max-width: 0vw !important;
}

.h-25 {
  height: 25% !important;
}

.w-25 {
  width: 25% !important;
}

.vh-25 {
  height: 25vh !important;
}

.vw-25 {
  width: 25vw !important;
}

.min-h-25 {
  min-height: 25% !important;
}

.min-w-25 {
  min-width: 25% !important;
}

.min-vh-25 {
  min-height: 25vh !important;
}

.min-vw-25 {
  min-width: 25vw !important;
}

.max-h-25 {
  max-height: 25% !important;
}

.max-w-25 {
  max-width: 25% !important;
}

.max-vh-25 {
  max-height: 25vh !important;
}

.max-vw-25 {
  max-width: 25vw !important;
}

.h-50 {
  height: 50% !important;
}

.w-50 {
  width: 50% !important;
}

.vh-50 {
  height: 50vh !important;
}

.vw-50 {
  width: 50vw !important;
}

.min-h-50 {
  min-height: 50% !important;
}

.min-w-50 {
  min-width: 50% !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.min-vw-50 {
  min-width: 50vw !important;
}

.max-h-50 {
  max-height: 50% !important;
}

.max-w-50 {
  max-width: 50% !important;
}

.max-vh-50 {
  max-height: 50vh !important;
}

.max-vw-50 {
  max-width: 50vw !important;
}

.h-75 {
  height: 75% !important;
}

.w-75 {
  width: 75% !important;
}

.vh-75 {
  height: 75vh !important;
}

.vw-75 {
  width: 75vw !important;
}

.min-h-75 {
  min-height: 75% !important;
}

.min-w-75 {
  min-width: 75% !important;
}

.min-vh-75 {
  min-height: 75vh !important;
}

.min-vw-75 {
  min-width: 75vw !important;
}

.max-h-75 {
  max-height: 75% !important;
}

.max-w-75 {
  max-width: 75% !important;
}

.max-vh-75 {
  max-height: 75vh !important;
}

.max-vw-75 {
  max-width: 75vw !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.min-h-100 {
  min-height: 100% !important;
}

.min-w-100 {
  min-width: 100% !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

.max-h-100 {
  max-height: 100% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

.max-vh-100 {
  max-height: 100vh !important;
}

.max-vw-100 {
  max-width: 100vw !important;
}

.h-unset {
  height: unset !important;
}

.w-unset {
  width: unset !important;
}

.vh-unset {
  height: unset !important;
}

.vw-unset {
  width: unset !important;
}

.min-h-unset {
  min-height: unset !important;
}

.min-w-unset {
  min-width: unset !important;
}

.min-vh-unset {
  min-height: unset !important;
}

.min-vw-unset {
  min-width: unset !important;
}

.max-h-unset {
  max-height: unset !important;
}

.max-w-unset {
  max-width: unset !important;
}

.max-vh-unset {
  max-height: unset !important;
}

.max-vw-unset {
  max-width: unset !important;
}

.h-auto {
  height: auto !important;
}

.w-auto {
  width: auto !important;
}

.vh-auto {
  height: auto !important;
}

.vw-auto {
  width: auto !important;
}

.min-h-auto {
  min-height: auto !important;
}

.min-w-auto {
  min-width: auto !important;
}

.min-vh-auto {
  min-height: auto !important;
}

.min-vw-auto {
  min-width: auto !important;
}

.max-h-auto {
  max-height: auto !important;
}

.max-w-auto {
  max-width: auto !important;
}

.max-vh-auto {
  max-height: auto !important;
}

.max-vw-auto {
  max-width: auto !important;
}

@media (min-width: 576px) {
  .h-sm-0 {
    height: 0% !important;
  }

  .w-sm-0 {
    width: 0% !important;
  }

  .vh-sm-0 {
    height: 0vh !important;
  }

  .vw-sm-0 {
    width: 0vw !important;
  }

  .min-h-sm-0 {
    min-height: 0% !important;
  }

  .min-w-sm-0 {
    min-width: 0% !important;
  }

  .min-vh-sm-0 {
    min-height: 0vh !important;
  }

  .min-vw-sm-0 {
    min-width: 0vw !important;
  }

  .max-h-sm-0 {
    max-height: 0% !important;
  }

  .max-w-sm-0 {
    max-width: 0% !important;
  }

  .max-vh-sm-0 {
    max-height: 0vh !important;
  }

  .max-vw-sm-0 {
    max-width: 0vw !important;
  }

  .h-sm-25 {
    height: 25% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .vh-sm-25 {
    height: 25vh !important;
  }

  .vw-sm-25 {
    width: 25vw !important;
  }

  .min-h-sm-25 {
    min-height: 25% !important;
  }

  .min-w-sm-25 {
    min-width: 25% !important;
  }

  .min-vh-sm-25 {
    min-height: 25vh !important;
  }

  .min-vw-sm-25 {
    min-width: 25vw !important;
  }

  .max-h-sm-25 {
    max-height: 25% !important;
  }

  .max-w-sm-25 {
    max-width: 25% !important;
  }

  .max-vh-sm-25 {
    max-height: 25vh !important;
  }

  .max-vw-sm-25 {
    max-width: 25vw !important;
  }

  .h-sm-50 {
    height: 50% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .vh-sm-50 {
    height: 50vh !important;
  }

  .vw-sm-50 {
    width: 50vw !important;
  }

  .min-h-sm-50 {
    min-height: 50% !important;
  }

  .min-w-sm-50 {
    min-width: 50% !important;
  }

  .min-vh-sm-50 {
    min-height: 50vh !important;
  }

  .min-vw-sm-50 {
    min-width: 50vw !important;
  }

  .max-h-sm-50 {
    max-height: 50% !important;
  }

  .max-w-sm-50 {
    max-width: 50% !important;
  }

  .max-vh-sm-50 {
    max-height: 50vh !important;
  }

  .max-vw-sm-50 {
    max-width: 50vw !important;
  }

  .h-sm-75 {
    height: 75% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .vh-sm-75 {
    height: 75vh !important;
  }

  .vw-sm-75 {
    width: 75vw !important;
  }

  .min-h-sm-75 {
    min-height: 75% !important;
  }

  .min-w-sm-75 {
    min-width: 75% !important;
  }

  .min-vh-sm-75 {
    min-height: 75vh !important;
  }

  .min-vw-sm-75 {
    min-width: 75vw !important;
  }

  .max-h-sm-75 {
    max-height: 75% !important;
  }

  .max-w-sm-75 {
    max-width: 75% !important;
  }

  .max-vh-sm-75 {
    max-height: 75vh !important;
  }

  .max-vw-sm-75 {
    max-width: 75vw !important;
  }

  .h-sm-100 {
    height: 100% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .vh-sm-100 {
    height: 100vh !important;
  }

  .vw-sm-100 {
    width: 100vw !important;
  }

  .min-h-sm-100 {
    min-height: 100% !important;
  }

  .min-w-sm-100 {
    min-width: 100% !important;
  }

  .min-vh-sm-100 {
    min-height: 100vh !important;
  }

  .min-vw-sm-100 {
    min-width: 100vw !important;
  }

  .max-h-sm-100 {
    max-height: 100% !important;
  }

  .max-w-sm-100 {
    max-width: 100% !important;
  }

  .max-vh-sm-100 {
    max-height: 100vh !important;
  }

  .max-vw-sm-100 {
    max-width: 100vw !important;
  }

  .h-sm-unset {
    height: unset !important;
  }

  .w-sm-unset {
    width: unset !important;
  }

  .vh-sm-unset {
    height: unset !important;
  }

  .vw-sm-unset {
    width: unset !important;
  }

  .min-h-sm-unset {
    min-height: unset !important;
  }

  .min-w-sm-unset {
    min-width: unset !important;
  }

  .min-vh-sm-unset {
    min-height: unset !important;
  }

  .min-vw-sm-unset {
    min-width: unset !important;
  }

  .max-h-sm-unset {
    max-height: unset !important;
  }

  .max-w-sm-unset {
    max-width: unset !important;
  }

  .max-vh-sm-unset {
    max-height: unset !important;
  }

  .max-vw-sm-unset {
    max-width: unset !important;
  }

  .h-sm-auto {
    height: auto !important;
  }

  .w-sm-auto {
    width: auto !important;
  }

  .vh-sm-auto {
    height: auto !important;
  }

  .vw-sm-auto {
    width: auto !important;
  }

  .min-h-sm-auto {
    min-height: auto !important;
  }

  .min-w-sm-auto {
    min-width: auto !important;
  }

  .min-vh-sm-auto {
    min-height: auto !important;
  }

  .min-vw-sm-auto {
    min-width: auto !important;
  }

  .max-h-sm-auto {
    max-height: auto !important;
  }

  .max-w-sm-auto {
    max-width: auto !important;
  }

  .max-vh-sm-auto {
    max-height: auto !important;
  }

  .max-vw-sm-auto {
    max-width: auto !important;
  }
}
@media (min-width: 768px) {
  .h-md-0 {
    height: 0% !important;
  }

  .w-md-0 {
    width: 0% !important;
  }

  .vh-md-0 {
    height: 0vh !important;
  }

  .vw-md-0 {
    width: 0vw !important;
  }

  .min-h-md-0 {
    min-height: 0% !important;
  }

  .min-w-md-0 {
    min-width: 0% !important;
  }

  .min-vh-md-0 {
    min-height: 0vh !important;
  }

  .min-vw-md-0 {
    min-width: 0vw !important;
  }

  .max-h-md-0 {
    max-height: 0% !important;
  }

  .max-w-md-0 {
    max-width: 0% !important;
  }

  .max-vh-md-0 {
    max-height: 0vh !important;
  }

  .max-vw-md-0 {
    max-width: 0vw !important;
  }

  .h-md-25 {
    height: 25% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .vh-md-25 {
    height: 25vh !important;
  }

  .vw-md-25 {
    width: 25vw !important;
  }

  .min-h-md-25 {
    min-height: 25% !important;
  }

  .min-w-md-25 {
    min-width: 25% !important;
  }

  .min-vh-md-25 {
    min-height: 25vh !important;
  }

  .min-vw-md-25 {
    min-width: 25vw !important;
  }

  .max-h-md-25 {
    max-height: 25% !important;
  }

  .max-w-md-25 {
    max-width: 25% !important;
  }

  .max-vh-md-25 {
    max-height: 25vh !important;
  }

  .max-vw-md-25 {
    max-width: 25vw !important;
  }

  .h-md-50 {
    height: 50% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .vh-md-50 {
    height: 50vh !important;
  }

  .vw-md-50 {
    width: 50vw !important;
  }

  .min-h-md-50 {
    min-height: 50% !important;
  }

  .min-w-md-50 {
    min-width: 50% !important;
  }

  .min-vh-md-50 {
    min-height: 50vh !important;
  }

  .min-vw-md-50 {
    min-width: 50vw !important;
  }

  .max-h-md-50 {
    max-height: 50% !important;
  }

  .max-w-md-50 {
    max-width: 50% !important;
  }

  .max-vh-md-50 {
    max-height: 50vh !important;
  }

  .max-vw-md-50 {
    max-width: 50vw !important;
  }

  .h-md-75 {
    height: 75% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .vh-md-75 {
    height: 75vh !important;
  }

  .vw-md-75 {
    width: 75vw !important;
  }

  .min-h-md-75 {
    min-height: 75% !important;
  }

  .min-w-md-75 {
    min-width: 75% !important;
  }

  .min-vh-md-75 {
    min-height: 75vh !important;
  }

  .min-vw-md-75 {
    min-width: 75vw !important;
  }

  .max-h-md-75 {
    max-height: 75% !important;
  }

  .max-w-md-75 {
    max-width: 75% !important;
  }

  .max-vh-md-75 {
    max-height: 75vh !important;
  }

  .max-vw-md-75 {
    max-width: 75vw !important;
  }

  .h-md-100 {
    height: 100% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .vh-md-100 {
    height: 100vh !important;
  }

  .vw-md-100 {
    width: 100vw !important;
  }

  .min-h-md-100 {
    min-height: 100% !important;
  }

  .min-w-md-100 {
    min-width: 100% !important;
  }

  .min-vh-md-100 {
    min-height: 100vh !important;
  }

  .min-vw-md-100 {
    min-width: 100vw !important;
  }

  .max-h-md-100 {
    max-height: 100% !important;
  }

  .max-w-md-100 {
    max-width: 100% !important;
  }

  .max-vh-md-100 {
    max-height: 100vh !important;
  }

  .max-vw-md-100 {
    max-width: 100vw !important;
  }

  .h-md-unset {
    height: unset !important;
  }

  .w-md-unset {
    width: unset !important;
  }

  .vh-md-unset {
    height: unset !important;
  }

  .vw-md-unset {
    width: unset !important;
  }

  .min-h-md-unset {
    min-height: unset !important;
  }

  .min-w-md-unset {
    min-width: unset !important;
  }

  .min-vh-md-unset {
    min-height: unset !important;
  }

  .min-vw-md-unset {
    min-width: unset !important;
  }

  .max-h-md-unset {
    max-height: unset !important;
  }

  .max-w-md-unset {
    max-width: unset !important;
  }

  .max-vh-md-unset {
    max-height: unset !important;
  }

  .max-vw-md-unset {
    max-width: unset !important;
  }

  .h-md-auto {
    height: auto !important;
  }

  .w-md-auto {
    width: auto !important;
  }

  .vh-md-auto {
    height: auto !important;
  }

  .vw-md-auto {
    width: auto !important;
  }

  .min-h-md-auto {
    min-height: auto !important;
  }

  .min-w-md-auto {
    min-width: auto !important;
  }

  .min-vh-md-auto {
    min-height: auto !important;
  }

  .min-vw-md-auto {
    min-width: auto !important;
  }

  .max-h-md-auto {
    max-height: auto !important;
  }

  .max-w-md-auto {
    max-width: auto !important;
  }

  .max-vh-md-auto {
    max-height: auto !important;
  }

  .max-vw-md-auto {
    max-width: auto !important;
  }
}
@media (min-width: 992px) {
  .h-lg-0 {
    height: 0% !important;
  }

  .w-lg-0 {
    width: 0% !important;
  }

  .vh-lg-0 {
    height: 0vh !important;
  }

  .vw-lg-0 {
    width: 0vw !important;
  }

  .min-h-lg-0 {
    min-height: 0% !important;
  }

  .min-w-lg-0 {
    min-width: 0% !important;
  }

  .min-vh-lg-0 {
    min-height: 0vh !important;
  }

  .min-vw-lg-0 {
    min-width: 0vw !important;
  }

  .max-h-lg-0 {
    max-height: 0% !important;
  }

  .max-w-lg-0 {
    max-width: 0% !important;
  }

  .max-vh-lg-0 {
    max-height: 0vh !important;
  }

  .max-vw-lg-0 {
    max-width: 0vw !important;
  }

  .h-lg-25 {
    height: 25% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .vh-lg-25 {
    height: 25vh !important;
  }

  .vw-lg-25 {
    width: 25vw !important;
  }

  .min-h-lg-25 {
    min-height: 25% !important;
  }

  .min-w-lg-25 {
    min-width: 25% !important;
  }

  .min-vh-lg-25 {
    min-height: 25vh !important;
  }

  .min-vw-lg-25 {
    min-width: 25vw !important;
  }

  .max-h-lg-25 {
    max-height: 25% !important;
  }

  .max-w-lg-25 {
    max-width: 25% !important;
  }

  .max-vh-lg-25 {
    max-height: 25vh !important;
  }

  .max-vw-lg-25 {
    max-width: 25vw !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .vh-lg-50 {
    height: 50vh !important;
  }

  .vw-lg-50 {
    width: 50vw !important;
  }

  .min-h-lg-50 {
    min-height: 50% !important;
  }

  .min-w-lg-50 {
    min-width: 50% !important;
  }

  .min-vh-lg-50 {
    min-height: 50vh !important;
  }

  .min-vw-lg-50 {
    min-width: 50vw !important;
  }

  .max-h-lg-50 {
    max-height: 50% !important;
  }

  .max-w-lg-50 {
    max-width: 50% !important;
  }

  .max-vh-lg-50 {
    max-height: 50vh !important;
  }

  .max-vw-lg-50 {
    max-width: 50vw !important;
  }

  .h-lg-75 {
    height: 75% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .vh-lg-75 {
    height: 75vh !important;
  }

  .vw-lg-75 {
    width: 75vw !important;
  }

  .min-h-lg-75 {
    min-height: 75% !important;
  }

  .min-w-lg-75 {
    min-width: 75% !important;
  }

  .min-vh-lg-75 {
    min-height: 75vh !important;
  }

  .min-vw-lg-75 {
    min-width: 75vw !important;
  }

  .max-h-lg-75 {
    max-height: 75% !important;
  }

  .max-w-lg-75 {
    max-width: 75% !important;
  }

  .max-vh-lg-75 {
    max-height: 75vh !important;
  }

  .max-vw-lg-75 {
    max-width: 75vw !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .vh-lg-100 {
    height: 100vh !important;
  }

  .vw-lg-100 {
    width: 100vw !important;
  }

  .min-h-lg-100 {
    min-height: 100% !important;
  }

  .min-w-lg-100 {
    min-width: 100% !important;
  }

  .min-vh-lg-100 {
    min-height: 100vh !important;
  }

  .min-vw-lg-100 {
    min-width: 100vw !important;
  }

  .max-h-lg-100 {
    max-height: 100% !important;
  }

  .max-w-lg-100 {
    max-width: 100% !important;
  }

  .max-vh-lg-100 {
    max-height: 100vh !important;
  }

  .max-vw-lg-100 {
    max-width: 100vw !important;
  }

  .h-lg-unset {
    height: unset !important;
  }

  .w-lg-unset {
    width: unset !important;
  }

  .vh-lg-unset {
    height: unset !important;
  }

  .vw-lg-unset {
    width: unset !important;
  }

  .min-h-lg-unset {
    min-height: unset !important;
  }

  .min-w-lg-unset {
    min-width: unset !important;
  }

  .min-vh-lg-unset {
    min-height: unset !important;
  }

  .min-vw-lg-unset {
    min-width: unset !important;
  }

  .max-h-lg-unset {
    max-height: unset !important;
  }

  .max-w-lg-unset {
    max-width: unset !important;
  }

  .max-vh-lg-unset {
    max-height: unset !important;
  }

  .max-vw-lg-unset {
    max-width: unset !important;
  }

  .h-lg-auto {
    height: auto !important;
  }

  .w-lg-auto {
    width: auto !important;
  }

  .vh-lg-auto {
    height: auto !important;
  }

  .vw-lg-auto {
    width: auto !important;
  }

  .min-h-lg-auto {
    min-height: auto !important;
  }

  .min-w-lg-auto {
    min-width: auto !important;
  }

  .min-vh-lg-auto {
    min-height: auto !important;
  }

  .min-vw-lg-auto {
    min-width: auto !important;
  }

  .max-h-lg-auto {
    max-height: auto !important;
  }

  .max-w-lg-auto {
    max-width: auto !important;
  }

  .max-vh-lg-auto {
    max-height: auto !important;
  }

  .max-vw-lg-auto {
    max-width: auto !important;
  }
}
@media (min-width: 1200px) {
  .h-xl-0 {
    height: 0% !important;
  }

  .w-xl-0 {
    width: 0% !important;
  }

  .vh-xl-0 {
    height: 0vh !important;
  }

  .vw-xl-0 {
    width: 0vw !important;
  }

  .min-h-xl-0 {
    min-height: 0% !important;
  }

  .min-w-xl-0 {
    min-width: 0% !important;
  }

  .min-vh-xl-0 {
    min-height: 0vh !important;
  }

  .min-vw-xl-0 {
    min-width: 0vw !important;
  }

  .max-h-xl-0 {
    max-height: 0% !important;
  }

  .max-w-xl-0 {
    max-width: 0% !important;
  }

  .max-vh-xl-0 {
    max-height: 0vh !important;
  }

  .max-vw-xl-0 {
    max-width: 0vw !important;
  }

  .h-xl-25 {
    height: 25% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .vh-xl-25 {
    height: 25vh !important;
  }

  .vw-xl-25 {
    width: 25vw !important;
  }

  .min-h-xl-25 {
    min-height: 25% !important;
  }

  .min-w-xl-25 {
    min-width: 25% !important;
  }

  .min-vh-xl-25 {
    min-height: 25vh !important;
  }

  .min-vw-xl-25 {
    min-width: 25vw !important;
  }

  .max-h-xl-25 {
    max-height: 25% !important;
  }

  .max-w-xl-25 {
    max-width: 25% !important;
  }

  .max-vh-xl-25 {
    max-height: 25vh !important;
  }

  .max-vw-xl-25 {
    max-width: 25vw !important;
  }

  .h-xl-50 {
    height: 50% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .vh-xl-50 {
    height: 50vh !important;
  }

  .vw-xl-50 {
    width: 50vw !important;
  }

  .min-h-xl-50 {
    min-height: 50% !important;
  }

  .min-w-xl-50 {
    min-width: 50% !important;
  }

  .min-vh-xl-50 {
    min-height: 50vh !important;
  }

  .min-vw-xl-50 {
    min-width: 50vw !important;
  }

  .max-h-xl-50 {
    max-height: 50% !important;
  }

  .max-w-xl-50 {
    max-width: 50% !important;
  }

  .max-vh-xl-50 {
    max-height: 50vh !important;
  }

  .max-vw-xl-50 {
    max-width: 50vw !important;
  }

  .h-xl-75 {
    height: 75% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .vh-xl-75 {
    height: 75vh !important;
  }

  .vw-xl-75 {
    width: 75vw !important;
  }

  .min-h-xl-75 {
    min-height: 75% !important;
  }

  .min-w-xl-75 {
    min-width: 75% !important;
  }

  .min-vh-xl-75 {
    min-height: 75vh !important;
  }

  .min-vw-xl-75 {
    min-width: 75vw !important;
  }

  .max-h-xl-75 {
    max-height: 75% !important;
  }

  .max-w-xl-75 {
    max-width: 75% !important;
  }

  .max-vh-xl-75 {
    max-height: 75vh !important;
  }

  .max-vw-xl-75 {
    max-width: 75vw !important;
  }

  .h-xl-100 {
    height: 100% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .vh-xl-100 {
    height: 100vh !important;
  }

  .vw-xl-100 {
    width: 100vw !important;
  }

  .min-h-xl-100 {
    min-height: 100% !important;
  }

  .min-w-xl-100 {
    min-width: 100% !important;
  }

  .min-vh-xl-100 {
    min-height: 100vh !important;
  }

  .min-vw-xl-100 {
    min-width: 100vw !important;
  }

  .max-h-xl-100 {
    max-height: 100% !important;
  }

  .max-w-xl-100 {
    max-width: 100% !important;
  }

  .max-vh-xl-100 {
    max-height: 100vh !important;
  }

  .max-vw-xl-100 {
    max-width: 100vw !important;
  }

  .h-xl-unset {
    height: unset !important;
  }

  .w-xl-unset {
    width: unset !important;
  }

  .vh-xl-unset {
    height: unset !important;
  }

  .vw-xl-unset {
    width: unset !important;
  }

  .min-h-xl-unset {
    min-height: unset !important;
  }

  .min-w-xl-unset {
    min-width: unset !important;
  }

  .min-vh-xl-unset {
    min-height: unset !important;
  }

  .min-vw-xl-unset {
    min-width: unset !important;
  }

  .max-h-xl-unset {
    max-height: unset !important;
  }

  .max-w-xl-unset {
    max-width: unset !important;
  }

  .max-vh-xl-unset {
    max-height: unset !important;
  }

  .max-vw-xl-unset {
    max-width: unset !important;
  }

  .h-xl-auto {
    height: auto !important;
  }

  .w-xl-auto {
    width: auto !important;
  }

  .vh-xl-auto {
    height: auto !important;
  }

  .vw-xl-auto {
    width: auto !important;
  }

  .min-h-xl-auto {
    min-height: auto !important;
  }

  .min-w-xl-auto {
    min-width: auto !important;
  }

  .min-vh-xl-auto {
    min-height: auto !important;
  }

  .min-vw-xl-auto {
    min-width: auto !important;
  }

  .max-h-xl-auto {
    max-height: auto !important;
  }

  .max-w-xl-auto {
    max-width: auto !important;
  }

  .max-vh-xl-auto {
    max-height: auto !important;
  }

  .max-vw-xl-auto {
    max-width: auto !important;
  }
}
.h1,
h1,
.font-5 {
  font-size: 200%;
}

.h2,
h2,
.font-4 {
  font-size: 180%;
}

.h3,
h3,
.font-3 {
  font-size: 160%;
}

.h4,
h4,
.font-2 {
  font-size: 140%;
}

.h5,
h5,
.font-1 {
  font-size: 120%;
}

.h6,
h6,
.font-0 {
  font-size: 100%;
}

.font-sm {
  font-size: 75%;
}

.font-md {
  font-size: 90%;
}

.font-lg {
  font-size: 250%;
}

.sq-1 {
  height: 1rem;
  width: 1rem;
  min-height: 1rem;
  min-width: 1rem;
}
.sq-2 {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}
.sq-3 {
  height: 3rem;
  width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
}
.sq-4 {
  height: 4rem;
  width: 4rem;
  min-height: 4rem;
  min-width: 4rem;
}
.sq-5 {
  height: 5rem;
  width: 5rem;
  min-height: 5rem;
  min-width: 5rem;
}
.sq-6 {
  height: 6rem;
  width: 6rem;
  min-height: 6rem;
  min-width: 6rem;
}
.sq-7 {
  height: 7rem;
  width: 7rem;
  min-height: 7rem;
  min-width: 7rem;
}
.sq-8 {
  height: 8rem;
  width: 8rem;
  min-height: 8rem;
  min-width: 8rem;
}
.sq-9 {
  height: 9rem;
  width: 9rem;
  min-height: 9rem;
  min-width: 9rem;
}
.sq-10 {
  height: 10rem;
  width: 10rem;
  min-height: 10rem;
  min-width: 10rem;
}

/*# sourceMappingURL=sizes.css.map */
