:root {
  --font-size: 0.75rem;
  --card-shadow: 0 1px 30px -10px rgba(0, 0, 0, 0.5);
  --background-color: #FFFFFF;
  /* Color Variables */
  /* ---COLOR-default-START--- */
  --default: #5B5B5B;
  /* ---HSL-default--- */
  --default-hs: 0deg, 0%;
  --default-l: 35.6862745098%;
  --default-a: 1;
  --default-c: #FFFFFF;
  --default-c-hs: 0deg, 0%;
  --default-c-l: 100%;
  --default-c-a: 1;
  /* ---COLOR-default-END--- */
  /* ---COLOR-accent-START--- */
  --accent: #BFBFBF;
  /* ---HSL-accent--- */
  --accent-hs: 0deg, 0%;
  --accent-l: 74.9019607843%;
  --accent-a: 1;
  --accent-c: #4c4c4c;
  --accent-c-hs: 0deg, 0%;
  --accent-c-l: 29.9019607843%;
  --accent-c-a: 1;
  /* ---COLOR-accent-END--- */
  /* ---COLOR-primary-START--- */
  --primary: #34A853;
  /* ---HSL-primary--- */
  --primary-hs: 136.0344827586deg, 52.7272727273%;
  --primary-l: 43.137254902%;
  --primary-a: 1;
  --primary-c: #FFFFFF;
  --primary-c-hs: 0deg, 0%;
  --primary-c-l: 100%;
  --primary-c-a: 1;
  /* ---COLOR-primary-END--- */
  /* ---COLOR-secondary-START--- */
  --secondary: #5C2B6D;
  /* ---HSL-secondary--- */
  --secondary-hs: 284.5454545455deg, 43.4210526316%;
  --secondary-l: 29.8039215686%;
  --secondary-a: 1;
  --secondary-c: #FFFFFF;
  --secondary-c-hs: 0deg, 0%;
  --secondary-c-l: 100%;
  --secondary-c-a: 1;
  /* ---COLOR-secondary-END--- */
  /* ---COLOR-white-START--- */
  --white: #FFFFFF;
  /* ---HSL-white--- */
  --white-hs: 0deg, 0%;
  --white-l: 100%;
  --white-a: 1;
  --white-c: #5B5B5B;
  --white-c-hs: 0deg, 0%;
  --white-c-l: 35.6862745098%;
  --white-c-a: 1;
  /* ---COLOR-white-END--- */
  /* ---COLOR-light-START--- */
  --light: #F8F9FA;
  /* ---HSL-light--- */
  --light-hs: 210deg, 16.6666666667%;
  --light-l: 97.6470588235%;
  --light-a: 1;
  --light-c: #343A40;
  --light-c-hs: 210deg, 10.3448275862%;
  --light-c-l: 22.7450980392%;
  --light-c-a: 1;
  /* ---COLOR-light-END--- */
  /* ---COLOR-black-START--- */
  --black: #000000;
  /* ---HSL-black--- */
  --black-hs: 0deg, 0%;
  --black-l: 0%;
  --black-a: 1;
  --black-c: #FFFFFF;
  --black-c-hs: 0deg, 0%;
  --black-c-l: 100%;
  --black-c-a: 1;
  /* ---COLOR-black-END--- */
  /* ---COLOR-dark-START--- */
  --dark: #343A40;
  /* ---HSL-dark--- */
  --dark-hs: 210deg, 10.3448275862%;
  --dark-l: 22.7450980392%;
  --dark-a: 1;
  --dark-c: #F8F9FA;
  --dark-c-hs: 210deg, 16.6666666667%;
  --dark-c-l: 97.6470588235%;
  --dark-c-a: 1;
  /* ---COLOR-dark-END--- */
  /* ---COLOR-silver-START--- */
  --silver: #BFBFBF;
  /* ---HSL-silver--- */
  --silver-hs: 0deg, 0%;
  --silver-l: 74.9019607843%;
  --silver-a: 1;
  --silver-c: #FFFFFF;
  --silver-c-hs: 0deg, 0%;
  --silver-c-l: 100%;
  --silver-c-a: 1;
  /* ---COLOR-silver-END--- */
  /* ---COLOR-gold-START--- */
  --gold: #FFDF00;
  /* ---HSL-gold--- */
  --gold-hs: 52.4705882353deg, 100%;
  --gold-l: 50%;
  --gold-a: 1;
  --gold-c: #FFFFFF;
  --gold-c-hs: 0deg, 0%;
  --gold-c-l: 100%;
  --gold-c-a: 1;
  /* ---COLOR-gold-END--- */
  /* ---COLOR-info-START--- */
  --info: #17A2b8;
  /* ---HSL-info--- */
  --info-hs: 188.198757764deg, 77.7777777778%;
  --info-l: 40.5882352941%;
  --info-a: 1;
  --info-c: #FFFFFF;
  --info-c-hs: 0deg, 0%;
  --info-c-l: 100%;
  --info-c-a: 1;
  /* ---COLOR-info-END--- */
  /* ---COLOR-error-START--- */
  --error: #DC3545;
  /* ---HSL-error--- */
  --error-hs: 354.251497006deg, 70.4641350211%;
  --error-l: 53.5294117647%;
  --error-a: 1;
  --error-c: #FFFFFF;
  --error-c-hs: 0deg, 0%;
  --error-c-l: 100%;
  --error-c-a: 1;
  /* ---COLOR-error-END--- */
  /* ---COLOR-success-START--- */
  --success: #24B624;
  /* ---HSL-success--- */
  --success-hs: 120deg, 66.9724770642%;
  --success-l: 42.7450980392%;
  --success-a: 1;
  --success-c: #FFFFFF;
  --success-c-hs: 0deg, 0%;
  --success-c-l: 100%;
  --success-c-a: 1;
  /* ---COLOR-success-END--- */
  /* ---COLOR-warn-START--- */
  --warn: #FFA500;
  /* ---HSL-warn--- */
  --warn-hs: 38.8235294118deg, 100%;
  --warn-l: 50%;
  --warn-a: 1;
  --warn-c: #000000;
  --warn-c-hs: 0deg, 0%;
  --warn-c-l: 0%;
  --warn-c-a: 1;
  /* ---COLOR-warn-END--- */
  /* ---COLOR-red-START--- */
  --red: #C54646;
  /* ---HSL-red--- */
  --red-hs: 0deg, 52.2633744856%;
  --red-l: 52.3529411765%;
  --red-a: 1;
  --red-c: #FFFFFF;
  --red-c-hs: 0deg, 0%;
  --red-c-l: 100%;
  --red-c-a: 1;
  /* ---COLOR-red-END--- */
  /* ---COLOR-orange-START--- */
  --orange: #F58220;
  /* ---HSL-orange--- */
  --orange-hs: 27.6056338028deg, 91.4163090129%;
  --orange-l: 54.3137254902%;
  --orange-a: 1;
  --orange-c: #000000;
  --orange-c-hs: 0deg, 0%;
  --orange-c-l: 0%;
  --orange-c-a: 1;
  /* ---COLOR-orange-END--- */
  /* ---COLOR-yellow-START--- */
  --yellow: #C4C400;
  /* ---HSL-yellow--- */
  --yellow-hs: 60deg, 100%;
  --yellow-l: 38.431372549%;
  --yellow-a: 1;
  --yellow-c: #000000;
  --yellow-c-hs: 0deg, 0%;
  --yellow-c-l: 0%;
  --yellow-c-a: 1;
  /* ---COLOR-yellow-END--- */
  /* ---COLOR-green-START--- */
  --green: #1D5C2E;
  /* ---HSL-green--- */
  --green-hs: 136.1904761905deg, 52.0661157025%;
  --green-l: 23.7254901961%;
  --green-a: 1;
  --green-c: #FFFFFF;
  --green-c-hs: 0deg, 0%;
  --green-c-l: 100%;
  --green-c-a: 1;
  /* ---COLOR-green-END--- */
  /* ---COLOR-blue-START--- */
  --blue: #0365A3;
  /* ---HSL-blue--- */
  --blue-hs: 203.25deg, 96.3855421687%;
  --blue-l: 32.5490196078%;
  --blue-a: 1;
  --blue-c: #FFFFFF;
  --blue-c-hs: 0deg, 0%;
  --blue-c-l: 100%;
  --blue-c-a: 1;
  /* ---COLOR-blue-END--- */
  /* ---COLOR-cyan-START--- */
  --cyan: #16F1D9;
  /* ---HSL-cyan--- */
  --cyan-hs: 173.4246575342deg, 88.6639676113%;
  --cyan-l: 51.568627451%;
  --cyan-a: 1;
  --cyan-c: #FFFFFF;
  --cyan-c-hs: 0deg, 0%;
  --cyan-c-l: 100%;
  --cyan-c-a: 1;
  /* ---COLOR-cyan-END--- */
  /* ---COLOR-purple-START--- */
  --purple: #561843;
  /* ---HSL-purple--- */
  --purple-hs: 318.3870967742deg, 56.3636363636%;
  --purple-l: 21.568627451%;
  --purple-a: 1;
  --purple-c: #FFFFFF;
  --purple-c-hs: 0deg, 0%;
  --purple-c-l: 100%;
  --purple-c-a: 1;
  /* ---COLOR-purple-END--- */
  /* ---COLOR-muted-START--- */
  --muted: #7D7D7D;
  /* ---HSL-muted--- */
  --muted-hs: 0deg, 0%;
  --muted-l: 49.0196078431%;
  --muted-a: 1;
  --muted-c: #FFFFFF;
  --muted-c-hs: 0deg, 0%;
  --muted-c-l: 100%;
  --muted-c-a: 1;
  /* ---COLOR-muted-END--- */
}

@media (max-width: 575.98px) {
  body {
    --font-size: calc(var(--font-size) - 100rem);
  }
}

/*# sourceMappingURL=variables.css.map */
