// /* All color definition for buttons, inputs, filter-effects */
@use 'sass:selector';

@mixin unify-selector($a, $b) {
  @at-root #{selector.unify($a, $b)} {
    @content;
  }
}

@mixin append-selector($a, $b) {
  @at-root #{selector.append($a, $b)} {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-content {
  &:not(img::before, img::after) {
    // HACK: Safari Fix.
    content: '';
  }

  content: '';
  @include flex-center;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  z-index: 0;
}

@mixin before-content {
  & {
    position: relative;
  }

  & > * {
    /* position: relative; */
    z-index: 1;
  }

  &::before {
    @include absolute-content();
  }
}

@mixin after-content {
  & {
    position: relative;
  }

  & > * {
    // position: relative;
    z-index: 1;
  }

  &::after {
    @include absolute-content();
  }
}

// @mixin check-child-state($child) {
//   @at-root #{selector.unify($child, &)} {
//     @content;
//   }
// }

$default: #5b5b5b !default;
$accent: #bfbfbf !default;
$primary: #34a853 !default;
$secondary: #5c2b6d !default;
$white: #ffffff !default;
$light: #f8f9fa !default;
$black: #000000 !default;
$dark: #343a40 !default;
$green: #1d5c2e !default;
$orange: #f58220 !default;
$purple: #561843 !default;
$red: #c54646 !default;
$blue: #0365a3 !default;
$yellow: #c4c400 !default;
$gold: #ffd700 !default;
$silver: #bfbfbf !default;
$pink: #ed028c !default;
$cyan: #16f1d9 !default;
$lemon: #62ffb1 !default;
$success: #24b624 !default;
$warn: #ffa500 !default;
$error: #dc3545 !default;
$info: #17a2b8 !default;
$muted: #7d7d7d !default;
$background-color: #ffffff !default;
$font-size: 0.75rem !default;

$colors-mapped: () !default;

$colors-mapped: map-merge(
  (
    // ===
    'default':
      (
        bg: $default,
        c: $white,
      ),
    'accent': (
      bg: $accent,
      c: darken($accent, 45%),
    ),
    'primary': (
      bg: $primary,
      c: $white,
    ),
    'secondary': (
      bg: $secondary,
      c: $white,
    ),
    'white': (
      bg: $white,
      c: $default,
    ),
    'light': (
      bg: $light,
      c: $dark,
    ),
    'black': (
      bg: $black,
      c: $white,
    ),
    'dark': (
      bg: $dark,
      c: $light,
    ),
    'silver': (
      bg: $silver,
      c: $white,
    ),
    'gold': (
      bg: $gold,
      c: $white,
    ),
    'info': (
      bg: $info,
      c: $white,
    ),
    'error': (
      bg: $error,
      c: $white,
    ),
    // 'failed': (bg: $error, c: $white),
    // 'danger': (bg: $error, c: $white),
    'success':
      (
        bg: $success,
        c: $white,
      ),
    // 'successful': (bg: $success, c: $white),
    'warn':
      (
        bg: $warn,
        c: $black,
      ),
    // 'warning': (bg: $warn, c: $black),
    // 'pending': (bg: $warn, c: $black),
    'red':
      (
        bg: $red,
        c: $white,
      ),
    'orange': (
      bg: $orange,
      c: $black,
    ),
    'yellow': (
      bg: $yellow,
      c: $black,
    ),
    'green': (
      bg: $green,
      c: $white,
    ),
    'blue': (
      bg: $blue,
      c: $white,
    ),
    'cyan': (
      bg: $cyan,
      c: $white,
    ),
    'purple': (
      bg: $purple,
      c: $white,
    ),
    // 'pink': (bg: $pink, c: $white),
    // 'lemon': (bg: $lemon, c: $white),
    'muted':
      (
        bg: $muted,
        c: $white,
      ),
    // 'color-1': (bg: $primary, c: $white),
    // 'color-2': (bg: $secondary, c: $white),
    // 'transparent': (bg: transparent, c: $default)
    // ===
  ),
  $colors-mapped
);

// /* Functions and Mixins */

@mixin bg-color-variant($selector, $k, $v) {
  #{$selector} {
    background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));
    color: var(--#{$k}-c, map-get($v, 'c'));
    border-color: hsla(
      var(--#{$k}-hs),
      calc(var(--#{$k}-l) - 20%),
      var(--#{$k}-a)
    );

    &.is-blur {
      background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.5);

      &:hover {
        background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.75);
      }
    }

    // [class*=-#{$k}] {
    //   --#{$k}-hs: var(--#{$k}-c-hs);
    // }
  }
  #{selector.append('a,button,.link',$selector)} {
    &:hover {
      background-color: hsla(
        var(--#{$k}-hs),
        calc(var(--#{$k}-l) - 10%),
        var(--#{$k}-a)
      );
      border-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));
      color: var(--#{$k}-c, map-get($v, 'c'));
    }

    &:active {
      background-color: hsla(
        var(--#{$k}-hs),
        calc(var(--#{$k}-l) - 20%),
        var(--#{$k}-a)
      );
    }
  }
}

@mixin group-bg-color-variant($selector, $k, $v) {
  #{$selector} {
    // &:hover >.active {
    //   background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.275);
    // }

    > * {
      color: currentColor;

      :not(.active) {
        &:hover {
          background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.075);
        }
      }

      .active {
        background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.125);
        color: hsla(
          var(--#{$k}-hs),
          calc(var(--#{$k}-l) - 10%),
          var(--#{$k}-a)
        );
      }
    }

    &.fill,
    &.prefill {
      > {
        :hover {
          background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.25);
        }

        .active {
          background-color: hsla(
            var(--#{$k}-hs),
            var(--#{$k}-l),
            var(--#{$k}-a)
          );
          color: var(--#{$k}-c, map-get($v, 'c'));
        }
      }
    }

    &.prefill {
      > * {
        background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.125);
      }
    }
  }
}

@mixin neon-color-variant($selector, $k, $v) {
  #{$selector} {
    /* color: var(--white); */
    text-shadow: 0 0 20px var(--#{$k}, map-get($v, 'bg')), 0 0 10px var(--white);
  }
}

@mixin color-variant($selector, $k, $v) {
  #{$selector} {
    color: var(--#{$k}, map-get($v, 'bg'));
  }

  #{selector.append('a,button,.link',$selector)} {
    &:hover {
      color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 10%), var(--#{$k}-a));
    }

    &:active {
      color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a));
    }
  }
}

@mixin gradient-variant($selector, $k, $v) {
  #{$selector} {
    background-image: linear-gradient(
      var(--#{$k}, map-get($v, 'bg')),
      hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a))
    );
    color: var(--#{$k}-c, map-get($v, 'c'));
    border: none;
  }

  #{selector.append('a,button,.link',$selector)} {
    &:hover {
      background-image: linear-gradient(
        hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) + 20%), var(--#{$k}-a)),
        var(--#{$k}, map-get($v, 'bg'))
      );
      color: var(--#{$k}-c, map-get($v, 'c'));
    }

    &:active {
      background-image: linear-gradient(
        hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a)),
        var(--#{$k}, map-get($v, 'bg'))
      );
    }
  }
}

// @mixin bg-color-light-variant($selector, $k, $v) {
//   #{$selector} {
//     background-color: hsla(
//       var(--#{$k}-hs),
//       calc(var(--#{$k}-l) + 45%),
//       var(--#{$k}-a)
//     );
//     color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 45%), var(--#{$k}-a));
//     border-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));

//     &.is-blur:not(:hover) {
//       background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) + 45%), 0.5);
//     }
//   }
// }

@mixin outline-variant($selector, $k, $v) {
  #{$selector} {
    background-color: transparent;
    color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));
    border: thin solid;
    // border-color: currentColor;

    &.is-blur {
      background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 45%), 0.5);
    }
  }

  #{selector.unify($selector,'a,button,.link')} {
    &:hover {
      background-color: hsla(
        var(--#{$k}-hs),
        calc(var(--#{$k}-l) - 10%),
        var(--#{$k}-a)
      );
      color: var(--#{$k}-c, map-get($v, 'c'));
    }

    &.active,
    &:active {
      background-color: hsla(
        var(--#{$k}-hs),
        calc(var(--#{$k}-l) - 20%),
        var(--#{$k}-a)
      );
      color: var(--#{$k}-c, map-get($v, 'c'));
    }
  }
}
