@use 'sass:math';
@import 'mixins';

/**
* HSL Darken = level - n; Lighten = level + n.
** Darken Color = hsl(var(--{color}-hs), calc(var(--{color}-l) - n%))
** Lighten Color = hsl(var(--{color}-hs), calc(var(--{color}-l) + n%))
* {color}-hs = The Hue and Saturation level of the color.
* {color}-l = Lightness level of the color.
* {color}-a = Alpha level of the color.
* {color}-c = The corresponding Text color of the color, if it is used as a background.
*/

@each $k, $v in $colors-mapped {
  // Texts
  @include fg-variant('.text-#{$k}', $k, $v);
  @include neon-fg-variant('.text-neon-#{$k}', $k, $v);
  // Background
  @include bg-variant('.bg-#{$k}', $k, $v);
  @include bg-gradient-variant('.bg-gradient-#{$k}', $k, $v);
  @include bg-outline-variant('.bg-outline-#{$k}', $k, $v);
  @include group-bg-variant('.tabs-#{$k}', $k, $v);
  @include group-bg-variant('.dots-#{$k}', $k, $v);

  .border-#{$k} {
    border-style: solid;
    border-color: var(--#{$k}, map-get($v, 'bg'));
  }
}

@each $v in (0, 25, 50, 75, 100) {
  .opacity-#{$v} {
    opacity: math.div($v, 100);
  }
}

button,
input {
  &.focus,
  &:focus-within,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.bg-transparent,
.btn-transparent,
.tabs-transparent,
.alert-transparent {
  border: none;
  background-color: transparent;
  color: currentColor;
}

.bg-inherit {
  background-color: inherit;
}

.inactive {
  color: #bcbccb;
}

.silhouette {
  filter: saturate(0%) brightness(500%);
}

.shadow- {
  &1 {
    &::before {
      box-shadow: var(--black) 0 3px 9px -3px;
    }
  }
}

.shadow-inset {
  &-1 {
    &::before {
      box-shadow: inset var(--black) 0 3px 9px -3px;
    }
  }
}

[class~='shadow-'] {
  position: relative;
  z-index: 1;

  > * {
    position: relative;
  }

  @include before-content;
}

.text-unset,
.text-color-unset {
  color: unset;
}
