/* 
* @Author: Vixson
* @Description: Unique and Very Responsive Admin Dashboard UI
*/
@import 'variables.css';
@import 'main.css';
@import 'sizes.css';
@import 'colors.css';
@import 'animations.css';
@import 'polyfills.css';

@font-face {
  font-family: 'Title';
  src: url('/fonts/NotoSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Content';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}
