@import 'mixins';

:root {
  --font-size: var(--o-font-size, #{$font-size});
  --card-shadow: var(--shadow-1);
  --background-color: #{$background-color};
  --heading-start: 200%;
  --heading-end: 100%;

  /* Color Variables */
  @each $k, $v in $colors-mapped {
    /* ---COLOR-#{$k}-START--- */
    --#{$k}: #{map-get($v, 'bg')};
    /* ---HSL-#{$k}--- */
    --#{$k}-hs: #{hue(map-get($v, 'bg')), saturation(map-get($v, 'bg'))};
    --#{$k}-l: #{lightness(map-get($v, 'bg'))};
    --#{$k}-a: #{alpha(map-get($v, 'bg'))};
    --#{$k}-c: #{map-get($v, 'c')};
    --#{$k}-c-hs: #{hue(map-get($v, 'c')), saturation(map-get($v, 'c'))};
    --#{$k}-c-l: #{lightness(map-get($v, 'c'))};
    --#{$k}-c-a: #{alpha(map-get($v, 'c'))};
    /* ---COLOR-#{$k}-END--- */
  }
}

@media (max-width: 576px) {
  :root {
    --font-size: calc(var(--o-font-size) / 1.15);
  }
}
