* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 2.5em 5em;
  background-color: #ebebeb;
  color: #242424;
}

a {
  text-decoration: none;
  display: inline-block;
  font-weight: bold
}

a::after {
  content: '';
  display: block;
  background-color: currentColor;
  height: 2px;
  width: 0;
  transition: width 0.5s;
}

a:hover::after {
  width: 100% !important
}

.navbar {
  display: flex;
  margin-bottom: 5em
}

.navbar-nav {
  margin-left: auto
}

.navbar-nav a::after {
  width: 40%
}

.social-links {
  font-size: 1.5em;
}

.social-links a {
  transition: transform 0.5s
}

.social-links a::after {
  display: none;
}

.social-links a:hover {
  transform: scale(1.5)
}

.social-links a+a {
  margin-left: 1em
}

/* Mobile --> BELOW */
@media (max-width:575.98px) {
  body {
    padding: 2.5em
  }
}