// /* All color definition for buttons, inputs, filter-effects */
@use "sass:selector";

@mixin unify-selector($a, $b) {
  @at-root #{selector.unify($a, $b)} {
    @content;
  }
}

@mixin append-selector($a, $b) {
  @at-root #{selector.append($a, $b)} {
    @content;
  }
}

// @mixin check-child-state($child) {
//   @at-root #{selector.unify($child, &)} {
//     @content;
//   }
// }

$default: #5B5B5B !default;
$primary: #34A853 !default;
$secondary: #5c2d6b !default;
$white: #FFFFFF !default;
$light: #F8F9FA !default;
$black: #000000 !default;
$dark: #343A40 !default;
$green: #1D5C2E !default;
$orange: #F58220 !default;
$purple: #561843 !default;
$blue: #0365A3 !default;
$yellow: #C4C400 !default;
$gold: #FFDF00 !default;
$pink: #ED028C !default;
$success: #24B624 !default;
$warning: #FFC107 !default;
$danger: #DC3545 !default;
$info: #17A2b8 !default;
$muted: #7D7D7D !default;
$background-color: #FFFFFF !default;
$border-color: #E4E4E4 !default;
$card-shadow: 0 1px 30px -10px transparentize($black, 0.5) !default;
$font-size: 0.85rem;

$app-colors-mapped: () !default;

$app-colors-mapped: map-merge(('default': (bg: $default, c: $white),
    'primary': (bg: $primary, c: $white),
    'secondary': (bg: $secondary, c: $white),
    'white': (bg: $white, c: $default),
    'light': (bg: $light, c: $dark),
    'black': (bg: $black, c: $white),
    'dark': (bg: $dark, c: $light),
    'gold': (bg: $gold, c: $white),
    'info': (bg: $info, c: $white),
    'error': (bg: $danger, c: $white),
    'danger': (bg: $danger, c: $white),
    'success': (bg: $success, c: $white),
    'warn': (bg: $warning, c: $black),
    'warning': (bg: $warning, c: $black),
    'pink': (bg: $pink, c: $white),
    'orange': (bg: $orange, c: $white),
    'purple': (bg: $purple, c: $white),
    'green': (bg: $green, c: $white),
    'blue': (bg: $blue, c: $white),
    'yellow': (bg: $yellow, c: $white),
    'muted': (bg: $muted, c: $white),
    'transparent': (bg: transparent, c: $default)), $app-colors-mapped);

// /* Functions and Mixins */

@mixin mapped-bg-color-var-variant($selector, $k, $cm) {
  #{$selector} {
    background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a)) !important;
    color: var(--#{$k}-c, map-get($cm, "c")) !important;
    border-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));

    &.is-blur {
      backdrop-filter: blur(10px);
      background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.5) !important;

      &:hover {
        background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), 0.75) !important;
      }
    }
  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 10%), var(--#{$k}-a)) !important;
      border-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));
      color: var(--#{$k}-c, map-get($cm, "c"));
    }

    &:active {
      background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a)) !important;
    }
  }
}

@mixin mapped-bg-color-variant($selector, $cm) {
  #{$selector} {
    background-color: map-get($cm, "bg") !important;
    color: map-get($cm, "c") !important;
    border: none;

    &.is-blur {
      backdrop-filter: blur(10px);
      background-color: transparentize(map-get($cm, "bg"), 0.5) !important;

      &:hover {
        background-color: transparentize(map-get($cm, "bg"), 0.25) !important;
      }
    }
  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      background-color: darken(map-get($cm, "bg"), 10%) !important;
      color: map-get($cm, "c") !important;
    }

    &:active {
      background-color: darken(map-get($cm, "bg"), 20%) !important;
    }
  }

}

@mixin mapped-tabs-var-variant($selector, $k, $cm) {
  #{$selector} {

    &.fill {
      .tab {
        background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), calc(var(--#{$k}-a) - 0.2));
        color: var(--#{$k}-c, map-get($cm, "c"));

        &.active {
          background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));
        }
      }
    }

    .tab {
      &:hover:not(.active) {
        background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), calc(var(--#{$k}-a) - 0.5));
        color: darken(map-get($cm, "c"), 90%);
      }

      &.active {
        background-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a));
        color: var(--#{$k}-c, map-get($cm, "c"));
      }
    }
  }
}

@mixin mapped-tabs-variant($selector, $cm) {
  #{$selector} {

    &.fill {
      .tab {
        background-color: map-get($cm, "bg");
        color: map-get($cm, "c");

        &.active {
          background-color: darken(map-get($cm, "bg"), 10%);
        }
      }
    }

    .tab {
      border: none;

      &:hover:not(.active) {
        background-color: lighten(map-get($cm, "bg"), 40%);
        color: darken(map-get($cm, "c"), 90%);
      }

      &.active {
        background-color: map-get($cm, "bg");
        color: map-get($cm, "c");
      }
    }
  }
}

@mixin mapped-color-var-variant($selector, $k, $cm) {
  #{$selector} {
    color: var(--#{$k}, map-get($cm, "bg")) !important;
  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 10%), var(--#{$k}-a)) !important;
    }

    &:active {
      color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a)) !important;
    }
  }

}

@mixin mapped-color-variant($selector, $cm) {
  #{$selector} {
    color: map-get($cm, "bg") !important;
  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      color: darken(map-get($cm, "bg"), 10%) !important;
    }

    &:active {
      color: darken(map-get($cm, "bg"), 20%) !important;
    }
  }

}

@mixin mapped-g-color-var-variant($selector, $k, $cm) {
  #{$selector} {
    background: linear-gradient(var(--#{$k}, map-get($cm, "bg")), hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a))) !important;
    color: var(--#{$k}-c, map-get($cm, "c"));
    border: none;
  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      background: linear-gradient(hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) + 20%), var(--#{$k}-a)), var(--#{$k}, map-get($cm, "bg"))) !important;
      color: var(--#{$k}-c, map-get($cm, "c"));
    }

    &:active {
      background: linear-gradient(hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a)), var(--#{$k}, map-get($cm, "bg"))) !important;
    }
  }
}

@mixin mapped-g-color-variant($selector, $cm) {
  #{$selector} {
    background: linear-gradient(map-get($cm, "bg"), darken(map-get($cm, "bg"), 20%)) !important;
    color: map-get($cm, "c");
    border: none;
  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      background: linear-gradient(lighten(map-get($cm, "bg"), 20%), map-get($cm, "bg")) !important;
      color: map-get($cm, "c");
    }

    &:active {
      background: linear-gradient(darken(map-get($cm, "bg"), 20%), map-get($cm, "bg"));
    }
  }
}

@mixin mapped-alert-var-variant($selector, $k, $cm) {
  #{$selector} {
    background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) + 45%), var(--#{$k}-a)) !important;
    color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 45%), var(--#{$k}-a)) !important;
    border-color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a)) !important;

    &.is-blur:not(:hover) {
      backdrop-filter: blur(10px) !important;
      background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) + 45%), 0.5) !important;
    }
  }
}

@mixin mapped-alert-variant($selector, $cm) {
  #{$selector} {
    background-color: lighten(map-get($cm, "bg"), 45%);
    color: darken(map-get($cm, "bg"), 45%);
    border: none;
  }
}

@mixin mapped-outline-var-variant($selector, $k, $cm) {
  #{$selector} {
    background-color: transparent !important;
    color: hsla(var(--#{$k}-hs), var(--#{$k}-l), var(--#{$k}-a)) !important;
    border-color: currentColor !important;

    &.is-blur {
      backdrop-filter: blur(10px) !important;
      background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 45%), 0.5) !important;
    }
  }

  a#{$selector},
  button#{$selector},
  #{$selector}:focus,
  #{$selector}:focus-within {
    &:hover {
      background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 10%), var(--#{$k}-a)) !important;
      color: var(--#{$k}-c, map-get($cm, "c")) !important;
    }

    &:active {
      background-color: hsla(var(--#{$k}-hs), calc(var(--#{$k}-l) - 20%), var(--#{$k}-a)) !important;
    }
  }
}

@mixin mapped-outline-variant($selector, $cm) {
  #{$selector} {
    background-color: transparent;
    color: map-get($cm, "bg");
    border-color: currentColor;

  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      background-color: darken(map-get($cm, "bg"), 10%);
      color: map-get($cm, "c");
    }

    &:active {
      background-color: darken(map-get($cm, "bg"), 20%) !important;
    }
  }
}