// /* All color definition for buttons, inputs, filter-effects */
@use "sass:selector";

@mixin unify-selector($a, $b) {
  @at-root #{selector.unify($a, $b)} {
    @content;
  }
}

// @mixin check-child-state($child) {
//   @at-root #{selector.unify($child, &)} {
//     @content;
//   }
// }

$default: #5B5B5B !default;
$default-background: #FFFFFF !default;
$accent: #E42026 !default;
$accent-dark: #BB252A !default;
$primary: #E42026 !default;
$secondary: #114957 !default;
$secondary-light: #1C7D7D !default;
$secondary-dark: #002839 !default;
$white: #FFFFFF !default;
$black: #000000 !default;
$green: #1D5C2E !default;
$orange: #F58220 !default;
$purple: #561843 !default;
$blue: #0365A3 !default;
$yellow: #C4C400 !default;
$gold: #FFDF00 !default;
$pink: #ED028C !default;
$success: #00CC00 !default;
$warning: #F98F00 !default;
$danger: #DC3545 !default;
$info: #17A2b8 !default;
$muted: #5B5B5B !default;
$muted-light: #ECECEC !default;
$g-primary: linear-gradient($secondary, $primary) !default;
$g-green: linear-gradient($secondary, $green) !default;
$g-orange: linear-gradient($warning, $orange) !default;
$g-purple: linear-gradient($pink, $purple) !default;
$g-blue: linear-gradient($blue, $primary) !default;
$divider-color: #E4E4E4 !default;
$card-shadow: 0 1px 30px -10px #00000050 !default;

$app-font-size: 0.85rem;

$app-colors-mapped: () !default;

$app-colors-mapped: map-merge(('accent': (bg: $accent, fg: #FFFFFF),
    'primary': (bg: $primary, fg: #FFFFFF),
    'secondary': (bg: $secondary, fg: #FFFFFF),
    'secondary-light': (bg: $secondary-light, fg: #FFFFFF),
    'secondary-dark': (bg: $secondary-dark, fg: #FFFFFF),
    'default': (bg: $default, fg: $white),
    'white': (bg: $white, fg: $default),
    'gold': (bg: $gold, fg: $white),
    'info': (bg: $info, fg: $white),
    'denied': (bg: $danger, fg: $white),
    'debit': (bg: $danger, fg: $white),
    'danger': (bg: $danger, fg: $white),
    'approved': (bg: $success, fg: $white),
    'credit': (bg: $success, fg: $white),
    'success': (bg: $success, fg: $white),
    'pending': (bg: $warning, fg: $white),
    'warning': (bg: $warning, fg: $white),
    'pink': (bg: $pink, fg: $white),
    'orange': (bg: $orange, fg: $white),
    'purple': (bg: $purple, fg: $white),
    'green': (bg: $green, fg: $white),
    'blue': (bg: $blue, fg: $white),
    'yellow': (bg: $yellow, fg: $white),
    'muted': (bg: $muted, fg: $white),
    'muted-light': (bg: $muted-light, fg: $secondary),
    'transparent': (bg: transparent, fg: currentColor)), $app-colors-mapped);

$app-g-bg-mapped: (primary: (bg: $g-primary, fg: $white),
  green: (bg: $g-green, fg: $white),
  orange: (bg: $g-orange, fg: $white),
  purple: (bg: $g-purple, fg: $white),
  blue: (bg: $g-blue, fg: $white));

// /* Functions and Mixins */

// @mixin app-badge-variant($color) {
//   background-color: rgba($color, 0.25);
//   border: none;
//   color: darken($color, 10%);
//   font-weight: normal;
// }

@mixin mapped-bg-fg-variant($selector, $cm) {
  #{$selector} {
    background-color: map-get($cm, "bg") !important;
    color: map-get($cm, "fg") !important;
    border: none;
  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      /* filter: brightness(110%) contrast(90%); */
      background-color: darken(map-get($cm, "bg"), 10%) !important;
      color: map-get($cm, "fg") !important;
    }

    &:active {
      background-color: darken(map-get($cm, "bg"), 20%) !important;
    }
  }
}

@mixin mapped-g-bg-fg-variant($selector, $cm) {
  #{$selector} {
    background: map-get($cm, "bg");
    color: map-get($cm, "fg");
    border: none;
  }
}

@mixin mapped-color-variant($selector, $cm) {
  #{$selector} {
    color: map-get($cm, "bg") !important;
  }

  a#{$selector}:hover,
  button#{$selector}:hover {
    color: darken(map-get($cm, "bg"), 10%) !important;
  }
}

@mixin mapped-alert-variant($selector, $cm) {
  #{$selector} {
    background-color: lighten(map-get($cm, "bg"), 45%);
    color: darken(map-get($cm, "bg"), 45%);
    border: none;
  }
}

@mixin mapped-outline-variant($selector, $cm) {
  #{$selector} {
    background-color: transparent;
    color: map-get($cm, "bg");
    border: 1px solid currentColor;

  }

  a#{$selector},
  button#{$selector} {
    &:hover {
      background-color: darken(map-get($cm, "bg"), 10%);
      color: map-get($cm, "fg");
      /* border: 1px solid map-get($cm, "bg"); */
      border: none;
    }

    &:active {
      background-color: darken(map-get($cm, "bg"), 20%) !important;
      border: none !important;
    }
  }
}

// @each $k,
// $color in $theme-colors {
//   .badge-#{$k} {
//     @include app-badge-variant($color);
//   }
// }