/* 
* @Author: Vixson
* @Description: Unique and Very Responsive Admin Dashboard UI
*/
@import 'variables';
@import 'bootstrap.css';
@import 'fontawesome.css', 'animations.css', 'colors.css', 'sizes.css', 'app.css', 'pages.css', 'sidebar.css';

body {
  font-family: 'AppContent', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $default-background;
  color: $default;
  font-size: $app-font-size;
  font-weight: 300;
}

/* Mobile --> BELOW */
@media (max-width:575.98px) {
  body {
    font-size: 0.8rem;
  }
}

@font-face {
  font-family: 'AppTitle';
  src: url('/fonts/AppTitle-Light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'AppTitle';
  src: url('/fonts/AppTitle-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'AppTitle';
  src: url('/fonts/AppTitle-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'AppTitle';
  src: url('/fonts/AppTitle-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'AppContent';
  src: url('/fonts/AppContent-Light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'AppContent';
  src: url('/fonts/AppContent-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'AppContent';
  src: url('/fonts/AppContent-Bold.ttf');
  font-weight: 500;
}