/* 
* @Author: Vixson
* @Description: Unique and Very Responsive Admin Dashboard UI
*/
@import 'variables';
@import 'external/bootstrap.css';
@import 'animations.css';
@import 'colors.css';
@import 'sizes.css';
@import 'app.css';

:root {
  --font-size: #{$font-size};
}

body {
  font-family: 'AppContent', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color, --default-c, --white);
  color: var(--default, --white-c);
  font-size: var(--font-size);
  font-weight: normal;
}

/* Mobile --> BELOW */
@media (max-width:575.98px) {
  :root {
    --font-size: calc(var(--font-size)/1.25);
  }
}

@font-face {
  font-family: 'AppTitle';
  src: url('/fonts/NotoSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'AppContent';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}