/* 
* @Author: Vixson
* @Description: Unique and Very Responsive Admin Dashboard UI
*/
@import 'variables';
@import 'bootstrap.css';
@import 'fontawesome.css', 'animations.css', 'colors.css', 'sizes.css', 'app.css', 'sidebar.css';

body {
  font-family: 'AppContent', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--default-background);
  color: var(--default);
  font-size: var(--app-font-size);
  font-weight: 300;
}

/* Mobile --> BELOW */
@media (max-width:575.98px) {
  body {
    font-size: 0.8rem;
  }
}

@font-face {
  font-family: 'AppTitle';
  src: url('/fonts/AppTitle.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'AppContent';
  src: url('/fonts/AppContent.ttf');
  font-weight: 300;
}