/* General scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color)
}

::-webkit-scrollbar-track {
  background-color: transparent
}

/* Sidebar scrollbar */
.sidebar-content::-webkit-scrollbar {
  width: 0.25em;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #ffffff
}

.sidebar-container {
  display: flex;
  width: 100%
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar-toggler {
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  border-right: thin solid #333333;
  position: absolute;
  left: 0;
  width: 25vw;
  height: 100vh;
  overflow: hidden;
  transition: width 0.5s, transform 0.5s, opacity 0.25s;
}

.sidebar .sidebar-toggler {
  display: none;
  padding: 0.5em 1em;
}

.sidebar-content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar .app-brand {
  text-align: center;
  padding: 1.5em 0.5em;
}

.sidebar ul {
  list-style: none;
  padding-left: 0
}

.sidebar .label {
  transition: margin 0.25s, opacity 0.5s;
}

.sidebar .app-brand .label {
  margin-left: 0.05em
}

.sidebar .sidebar-nav {
  display: block;
}

.sidebar .sidebar-nav .nav-item {
  color: #ffffff;
  display: block;
  padding: 1em 2em
}

.sidebar .sidebar-nav .nav-item+.nav-item {
  border-top: thin solid var(--divider-color, #f7f7f7)
}

.sidebar .sidebar-nav .nav-item .label {
  margin-left: 1em;
}

/* Page */
.page-container {
  position: absolute;
  right: 0;
  width: 75vw;
  height: 100vh;
  overflow: hidden;
  transition: width 0.5s;
}

.sidebar-toggled .page-container {
  width: 100%;
}

.topbar {
  padding: 0.5em;
  display: flex;
  box-shadow: 1px 1px 3px #33333380
}

.topbar .sidebar-toggler {
  padding-left: 0;
}

.page-content {
  padding: 1em;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Mini PC <---> Tablets */
@media (min-width:576px) and (max-width:768px) {
  .sidebar-toggled .sidebar {
    width: 12.5vw
  }

  .sidebar-toggled .sidebar .label {
    opacity: 0;
    margin-left: 2em !important;
  }

  .sidebar-toggled .page-container {
    width: 87.5vw
  }

}

/* Mobile --> BELOW */
@media (max-width:576px) {
  .sidebar .sidebar-toggler {
    display: block;
  }

  .sidebar {
    width: 80vw;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
  }

  .sidebar-toggled .sidebar {
    transform: translateX(0);
    opacity: 1;
  }

  .sidebar-toggled .sidebar-overlay.sidebar-backdrop {
    background-color: #0000006b;
    transition: opacity 0.5s
  }

  .page-container,
  .sidebar-toggled .page-container {
    width: 100vw;
  }
}