@import 'variables';

/**
* @Description:
* The overall containing body holding both the sidebar and the rest of the page body
*/
.sidebar-trigger {
  position: fixed;
  height: 100vh;
  top: 0;
  top: 0;
  border-radius: 0;
  z-index: -1;

  &,
  &::after,
  &::before {
    background-color: transparent;
  }

  &:checked {

    ~,
    ~* {
      .page-container {
        /* position: absolute; */
        /* width: 100%; */

        >footer {
          background-color: var(--primary);
          color: var(--primary-c);
        }
      }
    }
  }
}

.sidebar-toggler {
  position: relative;
  font-size: 120%;
  margin-bottom: 0;
  z-index: 1;
}

.sidebar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: 100%;
  flex: 1 1 30%;
  min-height: 100vh;
  /* border-right: thin solid var(--secondary); */
  transition: width 0.5s, flex-basis 0.5s, transform 0.5s, opacity 0.25s;
  overflow: hidden;

  /* Sidebar scrollbar */
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: currentColor
  }

  .sidebar-header {
    padding: 1rem;

    .title {
      transition: height 0.5s linear 0.5s, opacity 0.5s linear 0.5s;
    }
  }

  .sidebar-nav {
    border-top: 1px solid transparentize($primary, 0.5);
    font-size: 120%;

    .nav-item {
      display: flex;
      align-items: center;
      padding: 1em 2em;
      text-decoration: none;
      font-weight: bold;

      &.active {
        background-color: hsl(var(--primary-hs), calc(var(--primary-l) + 40));
        border-right: 2px solid var(--primary);
      }

      &:hover {
        .icon {
          color: hsl(var(--primary-hs), calc(var(--primary-l) - 5))
        }

        .label {
          color: hsl(var(--secondary-hs), calc(var(--secondary-l) - 20))
        }
      }

      .icon {
        color: var(--primary);
      }

      .label {
        color: var(--secondary);
      }
    }

  }

  .icon {
    margin: 0.125rem 1em;
    margin-left: 0;
  }
}

/* Page */
.app-header {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  position: relative;

  .app-title {
    margin-bottom: 0;
    font-size: 125%;

    @include unify-selector(img, &) {
      max-width: 10rem;
    }
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  transition: width 0.5s;
  overflow: hidden;

  footer {
    background-color: var(--secondary);
    color: var(--white);
  }
}

.page-content {
  position: relative;
  padding: 3em;
  width: 100%;
  // border: thin solid var(--white);
  transition: margin 0.2s
}

/* Above <--- Tablets/Mini PC */
@media (min-width:768px) {

  .sidebar-trigger {
    &:checked {

      ~,
      ~* {

        .sidebar {
          width: 0;
          flex-basis: 0;
        }
      }
    }

    &:not(:checked) {

      ~,
      ~* {
        .page-container .app-header .sidebar-toggler {
          display: none;
        }
      }
    }
  }

}

/* Above <--- Mobile */
@media (min-width:576px) {

  .sidebar-trigger:not(:checked) {

    ~,
    ~* {
      .page-container {
        border-left: thin solid var(--border-color);

        &::before {
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          box-shadow: 0 0 2.5rem -1.75rem transparentize($black, 0.125);
          border-radius: inherit;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
    }
  }
}

/* Mobile <---> Tablets/Mini PC */
@media (min-width:576px) and (max-width:767.98px) {
  .sidebar-trigger {

    &:not(:checked) {

      ~,
      ~* {

        .sidebar *> {
          .label {
            transition: position 0.25s linear 0.125s, transform 0.25s linear 0.125s, opacity 0.5s linear 0.125s;
          }
        }
      }
    }

    &:checked {

      ~,
      ~* {
        .sidebar {
          width: 15%;
          flex-basis: 15%;

          .sidebar-header .title {
            opacity: 0;
            height: 0;
            margin-bottom: 0;
          }

          .sidebar-nav .nav-item {
            justify-content: center;

          }

          .icon {
            margin-right: 0;
          }

          .sidebar-header,
          .sidebar-footer,
          .sidebar-nav .nav-item {
            .label {
              opacity: 0;
              transform: translateX(100%);
              position: absolute;
            }
          }
        }
      }
    }
  }

  .sidebar {

    .btn,
    .sidebar-nav .nav-item {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .sidebar-toggler {
      display: none;
    }
  }

}

/* Tablets/Mini PC --> BELOW */
@media (max-width:767.98px) {
  .btn {
    min-width: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}

/* Mobile --> BELOW */
@media (max-width:575.98px) {
  .sidebar-trigger {
    transition: background-color 0.5s ease-in;

    &:checked {
      width: 100vw;
      background-color: transparentize($black, 0.2);
      z-index: 2;

      ~,
      ~* {

        .sidebar {
          transform: translateX(0);
          opacity: 1;
        }

        .sidebar-toggler {
          transform: translateX(-50%)
        }
      }
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    flex-basis: 80%;
    transform: translateX(-100%);
    opacity: 0;
    box-shadow: 0 0 50px transparentize($black, 0.2);
    z-index: 3;
  }


  .page-container {

    .page-content {
      padding: 3em 1em;
    }
  }
}