/**
*  Author Vixson
*  Description Layout sizing and breakpoints
*  Created On October 27th, 2020 4:22pm
*/
$grid-breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$sizes: (0, 25, 50, 75, 100);
$n-sizes: (unset, auto);
$limits: ('', 'min-', 'max-');
$types: ('', 'v');

@mixin layoutSizer($_size, $_limit, $_type, $_breakpoint, $_dimension: '%', $_useDimension: false) {
  #{'.'}#{$_limit}#{$_type}#{'h-'}#{$_breakpoint}#{$_size} {
    $__dimension: if($_type=='v', 'vh', $_dimension);
    $__dimension: if($_useDimension, $__dimension, '');
    #{$_limit}height: #{$_size}#{$__dimension} !important;
  }

  #{'.'}#{$_limit}#{$_type}#{'w-'}#{$_breakpoint}#{$_size} {
    $__dimension: if($_type=='v', 'vw', $_dimension);
    $__dimension: if($_useDimension, $__dimension, '');
    #{$_limit}width: #{$_size}#{$__dimension} !important;
  }
}

@mixin layoutSizeLooper($size, $dimension, $useDimension: false, $breakPoint: '') {
  @each $limit in $limits {
    @each $type in $types {
      @include layoutSizer($size, $limit, $type, $breakPoint, $dimension, $useDimension);
    }
  }
}

@each $size in $sizes {
  @include layoutSizeLooper($size, '%', true);
}

@each $size in $n-sizes {
  @include layoutSizeLooper($size, '');
}

@each $k,
$breakpoint in $grid-breakpoints {
  @media (min-width:$breakpoint) {
    @each $size in $sizes {
      @include layoutSizeLooper($size, '%', true, #{$k}#{'-'});
    }

    @each $size in $n-sizes {
      @include layoutSizeLooper($size, '', false, #{$k}#{'-'});
    }
  }
}

.h1,
h1,
.font-5 {
  font-size: 200%
}

.h2,
h2,
.font-4 {
  font-size: 180%
}

.h3,
h3,
.font-3 {
  font-size: 160%
}

.h4,
h4,
.font-2 {
  font-size: 140%
}

.h5,
h5,
.font-1 {
  font-size: 120%
}

.h6,
h6,
.font-0 {
  font-size: 100%
}

.font-sm {
  font-size: 75%
}

.font-md {
  font-size: 90%
}

.font-lg {
  font-size: 250%
}

.sq- {
  @each $numb in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) {
    &#{$numb} {
      height: #{$numb}rem;
      width: #{$numb}rem;
      min-height: #{$numb}rem;
      min-width: #{$numb}rem;
    }
  }
}