@import 'mixins';

:root {
  --font-size: #{$font-size};
  --card-shadow: #{$card-shadow};
  --background-color: #{$background-color};

  /* Color Variables */
  @each $k,
  $v in $app-colors-mapped {
    /* ---COLOR-#{$k}-START--- */
    --#{$k}: #{map-get($v, 'bg')};
    /* ---HSL-#{$k}--- */
    --#{$k}-hs: #{hue(map-get($v, 'bg')), saturation(map-get($v, 'bg'))};
    --#{$k}-l: #{lightness(map-get($v, 'bg'))};
    --#{$k}-a: #{alpha(map-get($v, 'bg'))};
    --#{$k}-c: #{map-get($v, 'c')};
    --#{$k}-c-hs: #{hue(map-get($v, 'c')), saturation(map-get($v, 'c'))};
    --#{$k}-c-l: #{lightness(map-get($v, 'c'))};
    --#{$k}-c-a: #{alpha(map-get($v, 'c'))};
    /* ---COLOR-#{$k}-END--- */
  }
}

@media (max-width:575.98px) {
  :root {
    // --font-size: calc(#{$font-size} / 1.125);
    --font-size: calc(var(--font-size) - 100rem);
    // --font-size: 0.725rem;
  }
}